[2013-08-11 22:19] npiganeau opened #1 "Trains sometimes overtake red signals"
When the simulation is run at a speed above 5x, trains sometimes overtake red signals and continue running.

[2013-08-11 22:22] npiganeau opened #2 "Route remain active after train reverse"
When reversing a train, the tracks of the previous route remain highlighted indefinitely.

[2013-08-11 22:26] npiganeau opened #3 "Create a simulation editor"
Create an editor for ts2 simulations so that users can create their own simulations easily.

[2013-08-11 22:31] npiganeau opened #4 "Add support for speed limits"
Currently all tracks have the same speed limit across the whole simulation. Add speed limits for each track independently.

[2013-09-12 20:00] #3 closed, assigned to npiganeau

[2013-09-12 20:36] #2 closed, assigned to npiganeau

[2013-09-12 20:39] npiganeau opened #6 "Add a "real" simulation"
Create a simulation that is not just a demo and include it with the program.

[2013-09-14 15:11] #1 closed, assigned to npiganeau

[2013-09-14 20:12] #4 closed, assigned to npiganeau

[2013-10-13 21:05] #6 closed, assigned to npiganeau

[2013-10-13 21:10] npiganeau opened #7 "Improve installer"
Create an NSIS windows installer to replace the limited cx_freeze basic installer and have start menu shortcuts.

[2013-10-17 06:42] #7 closed, assigned to npiganeau

[2013-10-19 17:23] npiganeau opened #8 "Create a scoring system"
Include a system to count the score made by the user, based on:
- The number of minutes a train runs late,
- The correct direction of the trains
- etc.

[2013-10-19 17:24] npiganeau opened #9 "Add game load/save support"
Add support for being able to save a game in the middle to a game file and load it back later.

[2013-10-19 17:29] npiganeau opened #10 "Add track circuit based simulation option"
Until now, the trains are shown on the scenery at their exact position. This is not realistic since real signallers only get approximate train position through track circuits. Add an option so that the user can decide whether to show the train's real position as it is now or only the activated track circuits. The latter will need the simulation to be created with a line item per track circuit.

[2013-10-19 17:33] npiganeau opened #11 "Display artefacts under windows"
Under windows, trains leave display artefacts (red traces) when scrolling the layout.

[2013-12-22 22:16] #8 closed, assigned to npiganeau

[2013-12-23 12:05] npiganeau opened #12 "Add random delays"
Add random delays for trains entering the area and for trains stopping at stations.

[2013-12-23 23:07] #12 closed, assigned to npiganeau

[2013-12-28 13:34] #9 closed, assigned to npiganeau

[2014-01-04 16:23] npiganeau opened #14 "Improve editor"
- Enable resizing of platform items with mouse
- Enable points configuration with mouse
- Add cut/copy/paste feature
- Enable multi-selection & mass setting of properties

[2014-01-04 16:24] npiganeau opened #15 "Improve signal items"
- Signal items should have an almost null length on the layout
=> Need to separate signals and berths
- Add other signal types, like 4-aspect signals, shunt signals, etc.

[2014-01-04 16:26] npiganeau opened #16 "Add train shunting features"
Including joining/dividing trains and call-on routes.

[2014-03-15 11:50] #11 closed, assigned to npiganeau

[2014-03-15 11:53] #14 closed, assigned to npiganeau

[2015-05-30 20:16] pedromorgan opened #18 "PyQt Problems"
I'm guite curious to run this project as with pyqt on Linux/kubuntu

Snag is on Kununtu its python2/qt4 or python3/qt5 ( running pyqt4 on python3 is not in distrubution )

So not sure how to get around this.. but am prepared to help, maybe first step if to make it run on python2+3 which doable... and maybe later step up to pyqt5 ??

pete

[2015-05-31 00:18] pedromorgan commented on #18
ok so got a first branc in pyqthon2.7 adn its sucks..

need to replace all the super() signatures etc..
and pyqt4 is kinda EOL..
https://github.com/pedromorgan/ts2/commit/a34b52dae3ac9fb5feb430f4d0967b8424b17bc6

So then try qt5

[2015-05-31 00:24] pedromorgan commented on #18
Got a qt5 branch
https://github.com/pedromorgan/ts2/commits/qt5

Main change is to use Qt.py
https://github.com/pedromorgan/ts2/blob/qt5/ts2/Qt.py
and idea nicked from pyqtchart

so we could potentiall, stick in pyside here also

Can help if you wish to pursue qt5 path

[2015-05-31 04:56] pedromorgan opened #20 "Data Seperation"
Would it  be worth considering-

saving data in JSON

and also moving data into it own repository so end user can create/update data without affecting the code

[2015-05-31 06:13] npiganeau commented on #18
Hi Pete,

Thanks for your interest in ts2. Yes, let's go for python3/qt5. The only reason it is on qt4 is that pyqt didn't support qt5 on python 3 at the time I started developing.

Unfortunately, I don't have any time to do that, but I will review and pull all PR you could make.

[2015-05-31 06:19] npiganeau commented on #20
Which data so you mean? Actually, the main idea is to have all data inside the simulation file so that users can exchange simulations just by sending only one file. So blank simulations and saved games have exactly the same format, which is sqlite3 for the moment.

We could consider changing to json but I am not sure about all the benefits we could get from this change.

[2015-05-31 20:04] pedromorgan commented on #18
Initial PR
https://github.com/npiganeau/ts2/pull/21

[2015-05-31 20:55] pedromorgan opened #22 "Recently Opened"
Add "recently Opened"  to a new menu entry

[2015-05-31 20:56] pedromorgan opened #23 "Save Settings"
Allow user to save
- the column position in tables
- the splitter positions
- the dock positions
- window state and size

[2015-05-31 21:00] pedromorgan commented on #20
Ok so were singing from the same song sheet..
But json would be easier to integrate into a website, so user can share of the web..

- json data would be in one file
- json is human readable and versionable
- with json new key/values can be easily added
- sqlite is binary
- schema changes require code maintanance/workarounds
- json can be easily transported over internet and read by many different

[2015-06-01 19:44] npiganeau commented on #20
Ok, you're right. Especially the schema change has been an issue for me when improving the simulation. Let's give a try to JSON then !

[2015-06-02 17:13] pedromorgan opened #24 "Icons"
Icons would be useful for some things and have a few thoughts..

we can use famfam, silk and alike for "basic things" there's loads out there in the foss community (and we can use with attribution)...

We actually package the icons as images, and a folders and not as a resouce file. I know this is against best practice of using resource files.. but the motivations is that
- these can be used also

[2015-06-02 18:55] pedromorgan opened #25 "Taffi rail"
This is a mad idea to create the first open source railway..its a possible way to demonstrate how it could me..so basically having scenarios..from there I think we can demonstrate euro.blassiens and no signals..this could be fun to have a simu system of what it would be like.. Note the current load is low.. So first job is to create siding and good yard.. Let's start at light intermodal and. Also

[2015-06-02 18:59] pedromorgan opened #26 "Tutorials"
We need a tutorial section that explain signalling..

There are a few resources out there..
- but we need to make a basic olde sginalman..
- and a local line with a single track..
- and siding and interchange

So levels...
1) newbie + up down...
2) single line controller
3) dual line controller
4) section controller
5) next.. we can go nuts..

## Sidings
So we can have a simple "coal line"
and ass

[2015-06-02 19:47] pedromorgan opened #27 "Single Line Ops"
So targets

A single track line with three terminals and an interchange..
The School run
So at 9am u there learly or late..
and for rugby teams and ground intestegations

[2015-06-02 20:08] pedromorgan commented on #25
https://www.google.co.uk/maps/@51.8439387,-3.9679152,11z/data=!4m2!6m1!1sz7EmUE3oL3jU.kGN4FkLlGzk4?hl=en

Its called the Heart Of Wales

need barriers down to stop traffic as train goes by ;-)

[2015-06-02 20:10] pedromorgan commented on #25
Idea is to get from Llandeilo to Llandovery in 20 mins..
run every 20 mins from reverse..with a service./.

[2015-06-02 20:24] pedromorgan opened #28 "UTC"
We need time in the system to be URC 1000000%

we need to convert to local time..

notes to self.this.muppet ;-)

Actually its the clock..
So we need that big
infact the "clock at each station" is same time ??

[2015-06-02 20:34] npiganeau commented on #24
Yes, we do need icons. It just wasn't my priority up to now...

For the way the icons are inserted in the software, actually, I don't mind.

[2015-06-02 20:40] npiganeau commented on #26
It is clear that ts2 lacks documentation.

Making videos could be an easy way to have it, in the same way as http://www.railwayoperationsimulator.com/ did. At least:
- A video showing the basics of how to play
- A video showing the basics of creating a new simulation.

[2015-06-02 20:45] npiganeau commented on #28
At the moment, there is only one time: the simulation time given by the simulation clock. Local time would only be needed for large simulations spreading over multiple time zones. And even in this case, I'm not sure what would be the benefits for the gameplay in regard to the complexity of setting it up.

[2015-06-02 21:00] pedromorgan commented on #28
Just means we need one function called utcnow() or alike..
and that is what is conidered to be the real tiime clock..

I only mention this as I have a rasprerry pi and a piFace digital io..
so am trying to take realime light and make a realy slick and its kind
working..
nor arduino yet..

On 2 June 2015 at 21:45, Nicolas PIGANEAU <notifications@github.com> wrote:

[2015-06-02 21:05] npiganeau commented on #20
Here is the schema I suggest for JSON files:

    {
      'config': {
        'config_key': 'config_value',
        ...
      }
      'scenery': [
        {... TrackItem object serialized ...},
        ...
      ],
      'routes': [
        {... Route object serialized ...},
        ...
      ],
      'train_types': [
        {... TrainType object serialized ...},
        ...
      ],
      'servi

[2015-06-04 20:04] #25 closed

[2015-06-04 20:05] pedromorgan commented on #25
Later

[2015-06-05 03:37] pedromorgan opened #29 "Documentation"
API docs generated with sphinx

http://docs-ts2.rhcloud.com/

Maybe we can roll the website into the same place..

Its compiles by sphinx and "uploaded" via git

[2015-06-05 17:25] pedromorgan commented on #20
{
    "options": [
        {
            "currentTime": "06:00:17"
        },
        {
            "timeFactor": 5
        },
        {
            "currentScore": 0
        },
        {
            "trackCircuitBased": "0"
        }
    ],
    "routes": [
        {
            "routeNum": 1,
            "routeState": 1
        },
        {
            "routeNum": 2,
            "routeState": 2

[2015-06-05 17:39] pedromorgan opened #30 "advice wanted"
@npiganeau

come comments helpful as am hacking away.. and json serialize

Does this for ti_type look right ?
[code]

[2015-06-05 19:39] pedromorgan commented on #20
This is drain.ts2 concerted serialised to json
[code]

[2015-06-05 19:42] npiganeau commented on #30
TrackItems logic has changed in the develop branch compared to the master branch, so I suggest you work on the json serialization on the develop branch rather than the master branch.

The mapping in the develop branch is the following (see simulation.createAllTrackItems() or editor.editor.createTrackItem():

    "L": LineItem
    "LI": InvisibleLinkItem
    "S": SignalItem
    "P": PointsItem

[2015-06-05 19:45] pedromorgan commented on #30
umm..
This is chicken and egg situation as I am based on Qt5 branch (not PyQt4)..

Is a merge of develop into Qt5 gonna mess up.. pete thinks....

[2015-06-05 20:17] npiganeau commented on #20
Great work!

If I can suggest, taking into account the fact that one of the idea behind JSON is human readability of simulation files, I would make the following modifications to the format:

- Set options config keys and values directly as key-value pairs of the 'config' dict, i.e.:

[code]

- Use the internal attribute names in the class (i.e. camelCased) rather than their lowercase equivalent t

[2015-06-05 20:25] pedromorgan commented on #20
That's a dump directly from the database,, in a function..

So maybe What we actually want is a "data dictionary"..
[code]

[2015-06-05 21:16] pedromorgan commented on #20
what.. my brain is aching !!

[2015-06-05 22:40] pedromorgan commented on #30
Added the controls and stuff to a new toolbar
![ts2_toolbar](https://cloud.githubusercontent.com/assets/123932/8016517/32b1f61a-0bdc-11e5-8e05-7c77ae1de449.jpeg)

[2015-06-06 00:50] pedromorgan opened #32 "Project ts2"
Hi @npiganeau

Apologoes if I jumped the gun, but am ahcking away..

And gone and created a ts2 project on github
https://github.com/ts2

The idea is that we can have the "desktop" = ts2,
but also
- ts2/ts2-data
- ts2/ts2-webserver
- ts2/ts2-tutorials

So have some ideas in mind...
includign mainly getting away from sf.net,
and moving stuff to github...
we need more adoptions.. so main motive.. an

[2015-06-06 01:08] pedromorgan opened #33 "Radio telephony"
Most of the communications, like ATC is over radio

So radio telephony is in..
SO149z - Sierra Oscar One Four Niner Zulu

So what we can do is use
a speech synth, to read out the radio... = text2speech = tts

eg
- after 10 mins a train driver calls..
-  Sierra Oscar One Four Niner Zulu = still standing at SINGAL_CODE
- more calmly irrate and different voices
- festival, or espeak and this works on

[2015-06-07 11:08] pedromorgan opened #34 "[IDEA] Using Mapping"
Am playing with google earth, and maps in general..

The idea would be to map
-  the track as vectors
- add corssings
- add station placeholders
- Then join the sots to gether.,.

It should be possible to do, and using geometry to caclulatre section length and speed etc..

[2015-06-07 11:29] pedromorgan commented on #34
![bynea](https://cloud.githubusercontent.com/assets/123932/8023756/b7ca7aea-0d10-11e5-9123-9e35eac5338b.jpeg)
![dovery](https://cloud.githubusercontent.com/assets/123932/8023757/b7e882ba-0d10-11e5-982a-ce880ba21c78.jpeg)
![swansea_discrict](https://cloud.githubusercontent.com/assets/123932/8023758/b7efcbec-0d10-11e5-84fd-c2583578a987.jpeg)

[2015-06-07 11:32] pedromorgan commented on #34
![swansea](https://cloud.githubusercontent.com/assets/123932/8023774/4543725a-0d11-11e5-8087-aca09189421c.jpeg)

[2015-06-07 15:28] pedromorgan commented on #34
So the Vision is to..
- Create a simple interface for the curious to make maps
- Signaller can go in and add signal
- Track can be aligned

Use data in simulation.. using realworld positions and speeds etc

[2015-06-07 19:03] pedromorgan commented on #34
Patterns
Its a line swap
[code]

[2015-06-08 22:28] pedromorgan commented on #20
This is getting interesting, and we ma need sqlite after all to calculte geometry

[2015-06-08 22:44] pedromorgan opened #35 "Suggestions (from forum)"
from ts2.sf.net/forum
https://sourceforge.net/p/ts2/discussion/861092/thread/d6c36891/
Pedro copied here for issues in one place

Greetings,
I'm working in the Signalling department for the Bucharest subway company and I think I could help with some suggestions for TS2, since we have a similar program linked to our interlocking system.
- First of all, signals should not be on a special track secti

[2015-06-08 22:45] pedromorgan commented on #35
Hi,
Thanks for using TS2 and for your suggestions.
- For the signals, you are not the first one to say that they should not be on such a long item of track. This is due to the fact that it holds the berth on which the train describer is displayed. In the next version, I will try to separate berths and signals.
- Points and platforms should be easier to edit/modify and not need to use the propertie

[2015-06-08 22:45] pedromorgan commented on #35
Hello,
Guys, I'll use this topic (as the title is suggestions), to not create repetitive topics with the same messages subjects.
Well, Let's start on few suggestions.
1st. Points:
On Simulation:
- As suggested above from "Bogdan Serban" we need to control the points manually.
On Editor:
- We need 2 sections to define Maximum Speed to points: "Normal End" and "Reverse End".
- Define the delay in se

[2015-06-08 22:45] pedromorgan commented on #35
Hi,
Thanks for your suggestions. I'll try to take them into account when I have time to code.
Just a few remarks:
For points, you can achieve different speed limits for normal and reverse positions simply by setting different speed limits on the line items connected to them. Trains always slow down in advance so as to pass the limited speed section at the maximum allowed speed. So if your points a

[2015-06-08 22:45] pedromorgan commented on #35
Thanks for the Excellent Reply Nicolas. :)
If possible can you implement searchlight signals too? Next Year i'll start a class of coding, to help on the project, i got motivated of your simulator. Cheers.
Check out this link: Is there a way to make this work on the simulator, Automatic signals working only by presence of trains (no dispatcher/signaller control, only for set to danger).
http://www.

[2015-06-11 23:29] pedromorgan commented on #34
Ok so this is fun and geo a spatial server running..

http://geoserver-ts2.rhcloud.com/geoserver/web/

### Stations
Stations are just a "spot" to an area, but also junctions are areas

### Lines
lines are there.. as a Line type with a start <> poiints  <end>
and then we can get length..

A later option may be to split lines even further into speed sections..
but maybe signals and speed go together

[2015-06-12 00:26] pedromorgan commented on #34
Simple map for explain how simple it could be
![crossover1](https://cloud.githubusercontent.com/assets/123932/8121281/92308d6c-10a1-11e5-9e8e-08ebf3b46a80.jpeg)

The Yellow is the "main line"

Points..
- common = green, ie a point
- blue = normal/straight end
- red is the diverge point

Lines:
The green line would is generates from points automatically .. ie
draw a line from common to normal
the r

[2015-07-14 21:38] npiganeau commented on #32
Hi @pedromorgan ,

I just released v0.5 because there was a lot of almost done job there, notably in the editor and with the new signals. I did not have time to do all I wanted, but at least now I can focus on other points.

Concerning the project ts2, I am not against it, but the reason why I am still on sourceforge is that it gives ts2 a good visibility on Google thanks to its being there since

[2015-07-14 21:46] npiganeau commented on #34
I'm not too aware about geo data and all we can do with it.

From my (small) experience of writing simulations with and for ts2:

- The scenery in ts2 and other signalling simulation software is not at scale. junction areas have a much bigger scale that main lines for instance. So I'm not sure that it will be so easy to use geo data to create simulations.
- Drawing the scenery, especially with the

[2015-07-14 21:48] pedromorgan commented on #32
Cool stuff..
Hopefulyl I'll have some time next to merge into the Qt5 branch..

[2015-07-14 21:48] npiganeau commented on #33
Interesting this one. I keep the idea for when communications will be coded

[2015-07-14 22:35] pedromorgan commented on #34
Ok so the mapping is a "tangent".. but the thought here is
- to "create stations", signals et all on a map..
- and from postgis we should get distance etc etc... (even line speed over distance)..
- and then create the "signalling".. or embelish.. etc...
- and am not sure its even gonna work etc...

So re the "timetables"..
- I,ve started on a little web app so users can "share" timetables, etc etc

[2015-07-15 17:22] Sharpe49 commented on #32
Hi,

Since there is a need for new simulations, I'll try to create a French one.

Cédric

[2015-07-15 17:31] npiganeau commented on #32
@Sharpe49
Hi Cédric,

Welcome onboard ! Do not hesitate to ask any question you can have when you make your simulation.

NPi

[2015-07-15 19:03] pedromorgan commented on #32
Here's first stage of the "docs" and this is generated from source..

http://docs-ts2.rhcloud.com/

[2015-07-19 21:23] npiganeau commented on #20
Work started on file format change to JSON, see 110010d89af33d29dc5dcb539402d9cfcc0ea4bc

Now liverpool-st is 1.4 MB in size in JSON without spaces and line feed. I'll have to accept zipped JSON files as well as plain text files if we want to ease exchange of simulation files.

[2015-08-23 06:57] mcgiwer opened #36 "Not working under Ubuntu 14.04 with pyqt5"
I have the latest avaliable (from the the latest repository for Ubuntu 14.04) PyQt installed (pyqt5) and when I try to start ts2, I get a error:

$ ./ts2.py or $python ./ts2.py

`Traceback (most recent call last):
  File "./ts2.py", line 23, in <module>
    import ts2.application
  File "/media/ubuntu/tmp/dane/train/ts2-0.5.0/ts2/application.py", line 21, in <module>
    from PyQt4 import QtCore,

[2015-08-24 07:39] npiganeau commented on #36
Current version of TS2 only works with PyQt4. You need to install the python-qt4 module in ubuntu.

[2015-08-24 11:45] mcgiwer commented on #36
wouldn't it a better solution to make that the TS2 self detect the installed PyQt version and import from it the needed libraries or allow to import libraries from PyQt 4 and above?

[2015-08-24 11:57] npiganeau commented on #36
Actually pyqt4 and pyqt5 are source incompatible. The current version is written for PyQt4 but the next version has been ported to PyQt5 (and thus will be incompatible with PyQt4).

[2015-08-24 20:34] pedromorgan commented on #36
Add more detail as the person who kinda started pyqt5  9and we cant go backwards cos of API changes)..

One of the changes is a Qt.py file...
And the inspiration for this is from pyqtgraph..
and the idea there is to load pyqt5 or pyside etc..
pyside is kinda moving to qt5 it breaks..

https://github.com/pyqtgraph/pyqtgraph/blob/develop/pyqtgraph/Qt.py

[2015-09-05 23:49] mcgiwer commented on #36
Any idea when the version for the actual (QT5+) could get avaliable?

[2015-09-06 12:10] npiganeau commented on #36
No idea at all ! I develop TS2 when I have time, and it can be years before several versions or just a few months, it depends.

However, if you just need a version that works with PyQt5, you can try to checkout and run commit 56aa3015862f309dbcec09b3b62b68cee24770c7 which should be the current version just ported to PyQt5. It should work, but being an work-in-progress commit, there may be some bug

[2015-09-06 18:45] pedromorgan commented on #36
So i'm running on Ubuntu here with PyQt5

You need the `develop` branch as that is Qt5

[2015-09-10 21:08] pedromorgan commented on #18
Can we close this ??
Can I have perms so I can classify some of these issues please..

[2015-09-10 22:20] pedromorgan commented on #36
@mcgiwer Can u report back tat u using python3 and pyqt5 ?

Wanna nail this because there is confusion with qt5/qt4..

[2015-09-10 22:24] pedromorgan commented on #32
@npiganeau Can we add @Sharpe49  to contribs ?

[2015-09-10 22:37] pedromorgan commented on #30
No feedback ;-(

[2015-09-11 08:27] Sharpe49 commented on #20
I'm trying to convert my simulation to the JSON format. I tried the Python script in one of the previous messages, but it didn't work. I modified the script a little in order to add imports and the write_file function, but there's still one function missing (to_json).
Where can it be found ?

[2015-09-11 09:45] mcgiwer commented on #36
@pedromorgan Yes, I use this kind of configuration. Python3 and pyqt5 are the latest avaliable ones for my Ubuntu

[2015-09-11 19:33] npiganeau commented on #18
Ok.

I moved the repository to github.com/ts2 so you have all rights too.

[2015-09-11 19:33] #18 closed

[2015-09-11 19:39] pedromorgan commented on #36
@mcgiwer Pyqt and pyside are bindings to the underlying c++ API, so thank the angels above that this is not c++ code.. qt5 fixed a lot of issues with qt4... hence a bump
Anyway pyqt5==Qt5 and Python3 is the future
Incidentally pyside which is the pyqt alternate is not even qt5 yet (and maintained by Qtproject)..

So its a long story.. but as a developer I have two configs...on this machine
pyqt5+p

[2015-09-11 19:43] npiganeau commented on #30
This is great ! It enables the user to move the tool bars around to make his screen looks as he wants.

Just push it on the develop branch

[2015-09-11 19:52] pedromorgan commented on #30
umm.. maybe I create a "topic/toolbar" branch first.. cos its a bit tricky to "restore"..
and kinda wanna nail the dual screen scenariio also... ie can we make it work on 2 screens.. ?? thnks aloud

[2015-09-11 19:52] npiganeau commented on #20
@Sharpe49 I pushed a new branch 'sql2json' which is to be used for the purpose of converting to the new json format:

1. Check out the sql2json branch and start ts2
2. Load your simulation in the main window (not the editor)
3. Use "Save game" menu in the main window (not the editor) to save to JSON
4. Checkout develop branch, start ts2 and open your simulation in the editor to continue editing

T

[2015-09-11 19:55] pedromorgan commented on #20
Maybe its best to setup a github.com/ts2/ts2-data and split the data from the code..

This means that we pull the "data" from server online = git backend..and update same way..

[2015-09-11 19:58] pedromorgan commented on #28
The gameplay would be having the time shift.. in my case gmt vs bst
so train leaves at 2.15am and arrives a 1.45am ??
for fun.. anyway this is backburner

[2015-09-11 19:59] npiganeau commented on #30
It should be possible since Qt has classes to manage several monitors, but I never tried it.

That would be a cool feature if we manage to separate layout on one screen and data on the other screen for example. Or maybe the layout on top across both screens and data below. Or whatever...

I first developed ts2 on a 1920px screen and it was cool, but now I only have 1366px and it's quite impossible

[2015-09-11 20:00] pedromorgan commented on #30
Same problem here... so maybe ts2 is the guinea pig ;-))))))))))

[2015-09-11 21:42] npiganeau commented on #20
@pedromorgan Ok for ts2-data, but I'll keep drain in the source code for testing purposes.

I'll move liv-st to ts2-data.

[2015-09-11 21:48] npiganeau commented on #15
Just for info, I'm currently working on the signal system where there will be a "signal library" loaded from JSON files to be used by all simulations. The idea is that anyone could create custom signals (for diferent countries for instance) just by creating new JSON files.

I'm also thinking of being able to declare signals directly into the simulation too so that we can share the simulation witho

[2015-09-12 12:18] mcgiwer commented on #36
it's good that they fixed bugs of Qt and PyQt, but they shouldn't make any issued with backward compatibility. Acording to my knowledge, all programming languages have some backward compatibility (like by example C++, Perl, Python) and I don't see why Qt and PyQt couldn't have one too.

no and y programming skills aren't on enough level to help with developing of ts2. I can try to help other way,

[2015-09-13 16:45] Sharpe49 commented on #20
Alright, I managed to convert my simulation and I have nearly finished the topology (I have to put the exit places on the right).
But I can't find how to make an entering train stop at the stations : the Next place column is empty.
If I reassign the mission, it works.
I'll put the simulation in a pull request on ts2-data in order to give you the simulation.

[2015-09-13 17:04] npiganeau commented on #20
Great thanks !

For the trains not stopping at stations, it looks like I have a bug here where entering trains are not assigned their service correctly. I'll look into that shortly.

[2015-09-13 19:16] npiganeau commented on #20
@Sharpe49 I just merge your PR and gave you access to ts2-data so that you can write directly on the repository.

For the bug, it comes up when trains have a non-zero speed when they appear on the layout. (Actually they appear with speed of 0 in Liverpool Street, which is a mistake in the simulation definition). Just give me a couple of days to fix that up.

[2015-09-13 19:25] pedromorgan commented on #20
Can i raise an issue here..

From my previous experience with dataserialisation with FLightGear....

We ideally want to dumpt the json with

string = json.dumps(data, indent=4, sort_keys=True)

This will make it a bit more readable, and also make the "diff" on git look
sensible;
eg a "single line change", it would be a show up on git.. where the data
has changed, and not a long single line...

pet

[2015-09-13 19:30] pedromorgan commented on #20
maybe an "utils.to_json(stuff)" ?

On 13 September 2015 at 20:25, Peter Morgan <pedromorgan@gmail.com> wrote:

[2015-09-13 19:42] pedromorgan commented on #20
OOps another issue..

So we same with the extension json ??

eg liverpool-st.json ?

On 13 September 2015 at 20:29, Peter Morgan <pedromorgan@gmail.com> wrote:

[2015-09-13 19:51] pedromorgan commented on #24
We need to decide how to include icons, images etc...

Not a big fan of resource files, but maybe best option..

Other option is to include a "media" directory or alike ??

[2015-09-13 21:02] pedromorgan commented on #27
Kinda a tutorial

[2015-09-13 21:13] npiganeau commented on #20
The editor creates json files with no spaces and no returns to save filesize, and it will soon zip them too.
But I agree that on ts2-data we should upload the files in a readable format.
And probably we will also need to have some kind of simulation repository for people to upload from, where simulations would be zipped and that would be automatically updated from ts2-data. I'm thinking...
Le 13 s

[2015-09-13 22:52] pedromorgan commented on #20
See updated ts2-data
https://github.com/ts2/ts2-data/blob/master/gretz-armainvilliers.ts2.json

That way we get "line fixes" ;-)))

Repos is on the waay.....

[2015-09-13 22:53] pedromorgan commented on #32
Latest idea now we on GH not sf..

https://ts2.github.io/

[2015-09-14 17:52] pedromorgan commented on #32
Have updated https://ts2.github.io/

At least its a start..
Next step is www site so we can "share data"...

Pedro

[2015-09-14 18:46] pedromorgan opened #38 "Releases"
Can we touch on how to build and release ts2..

Options are..
a pip install..

And exe..
Now exe Am unsure about, for windows.. and we will need win32/win64
and for fun we can throw in ARM = raspberry pi..

So can @npiganeau explain current build sceneraio, how its done etc... ?

In the back of my mind, its quite easy to set up a Jenkins instance on rhcloud..

[2015-09-14 19:27] npiganeau commented on #32
Nice ! I like it !

I'll redirect from ts2.sf.net to ts2.github.io so that all users get to the new site !

[2015-09-14 19:28] npiganeau commented on #32
Otherwise, I was thinking that we should move all issues related to website to ts2.github.io, issues related to sims or projects of new sims to ts2-data etc. So that we keep here only issues related to the coding of software: wishlist, bugs, etc.

[2015-09-14 19:39] npiganeau commented on #38
Today ts2 is released as exe so that the massive amount of windows users can access ts2 as easily as possible. I only do x64 release because that is what I have on my PC...

This is a 2 step process:
1. Build the .exe with cx_freeze (this is the build.py script at the root of the source file). Just run
```python build.py build```. This will create the exe and dependencies (DLL, resources, etc.) in

[2015-09-14 19:39] pedromorgan commented on #32
Yep.. sound good to me..

[2015-09-14 19:50] pedromorgan commented on #32
Looking at this also  idea is have a simple www front end, and ts2-data.git as backend.. ie a kinda database/flatfile
https://developer.github.com/v3/repos/contents/

[2015-09-15 22:18] npiganeau commented on #32
Why not, it should work.

Ideally, we should also have a 'get new sims' feature directly inside ts2 that would connect to the front end and enable to browse through the sims from inside the app and with an 'download & play' button next to each one. This way we could also easily implement a dependency mechanism if necessary.

[2015-09-15 22:22] npiganeau commented on #24
I've started with resource files which has the advantage of reducing the number of files needed for ts2 to work when distributing as a binary (cx freezing the app into exe for instance) and resources are really easy to call in code where needed.

So I'd rather continue this way if you don't mind.

[2015-09-15 22:47] npiganeau commented on #27
Closed and moved to ts2/ts2-data#2

[2015-09-15 22:47] #27 closed

[2015-09-15 22:49] npiganeau commented on #23
Reference documentation: http://doc.qt.io/qt-5/qmainwindow.html#saveState

[2015-09-15 22:51] npiganeau commented on #22
Example found on internet http://www.walletfox.com/course/qtopenrecentfiles.php

[2015-09-16 00:11] pedromorgan commented on #23
Working on this patch,,  saves the "dock" positions etc also

[2015-09-16 22:53] npiganeau commented on #20
Bug of train not stopping at stations is fixed.

[2015-09-17 20:50] npiganeau commented on #15
More news on the new signal configuration of TS2 as this is now merged into the develop branch.

### What is it all about ?

Signal types (such as UK_3_ASPECTS, UK_4_ASPECTS but even BUFFER) are now defined in JSON configuration files and are not hardcoded anymore. This allows anybody to create its custom signals and the way these signals will behave in the simulation without the need to hack into

[2015-09-17 20:55] pedromorgan commented on #15
WOW// Looking hard...

Gets beer outta fridge... after a quick smoke.. ;-)))))))))))))))))))

[2015-09-17 21:00] pedromorgan commented on #15
Ok Can I ask a muppet question..

1) which part of the above is the "way it works in real life"..

??
And which parts are we using for faking ??

[2015-09-17 21:57] npiganeau commented on #15
All I can say is that I only know about real signalling what I read on the Internet (such as the links you put for newbies on the homepage), and I have no idea how this is done internally in real computer-controlled signalling centres (except that they have all sorts of interlocking systems that I don't have (yet) in TS2).

So from my reading, I get to know how different kinds of signals behave in

[2015-09-17 23:08] Sharpe49 commented on #15
Well, technically, I'm a French train signalling engineer... so if you have any question, don't hesitate !
:)

[2015-09-18 00:48] pedromorgan commented on #15
If I wanted to pitch to reate a multiline system as an "education project".. includind bring your honby trainsets et all..

How do we make the inerlocking work is my curious..

[2015-09-18 00:49] pedromorgan commented on #15
Is ther

[2015-09-19 08:04] npiganeau commented on #15
Actually, this is not completely true that there is no interlocking in TS2: there is a simple "route interlocking".

If we simplify, that's the way it works in TS2:
- Before you can set a route, the system looks if the route can be activated, i.e. that there is no conflicting route already set up. I suppose that is also what is happening in real life more or less.
- Signals have there "own lives"

[2015-09-19 08:27] npiganeau commented on #15
@Sharpe49
I have two other questions for you regarding French signalling:

**1. Train driver behaviour**
How are train drivers supposed to behave when facing a yellow warning aspect? On the internet it says: "He should to do what is necessary to be able to stop before the next signal".
What I have coded is that trains keep their current speed as much as possible and reduce their speed constantly a

[2015-09-19 09:04] Sharpe49 commented on #15
I will first answer about the question in the latest message :

###### 1. Train driver behaviour
Here's the document about the [VISA](http://www.securite-ferroviaire.fr/sites/default/files/users/reglementations/pdf/macacab1an1v1signe.pdf) which is what the driver is supposed to do when crossing a signal with a warning aspect.
He has to slow down to 30 km/h and, if the signal has opened, maintain t

[2015-09-20 02:54] pedromorgan opened #39 "Pretend Interlock"
Can we somehow create a basic time delay interlock..

So switches might take a few second to move.. ;-)..
Just to kinda make everyone more nervous..

particular in cold temp..

[2015-09-20 02:59] pedromorgan opened #40 "Net Server"
TS2 is to have embedded a websocket server and caper..

This allows us to crate on a spare mobile phone the time table.. ;-))

ts2 will have to transmit websocket data for time table.. for notice board..
.. ohh deaar...
said my mum.. the HST is delayed by 5 mins..
whilst the shislte on another platform down the line is auto  delayed ??

What I am saying is that we want to be able to run TS2 with a

[2015-09-20 03:01] pedromorgan commented on #10
This is open.. its on the to do right ;-))

 Anyone wanna code this please ??

[2015-09-20 03:02] #30 closed

[2015-09-20 03:09] pedromorgan commented on #20
This last comment makes me smile..
A train sim bug.. LOL

Lets rock and roll..

Shinkansen please.. itchi ban ===  #1  no
https://www.youtube.com/watch?v=Bkoz8aEUssQ

[2015-09-20 08:09] npiganeau commented on #10
This is done already. When playing a sim, go to file, properties and check play with track circuits. You can also set it in the general tab of the editor.

[2015-09-20 08:09] #10 closed

[2015-09-20 18:21] Sharpe49 commented on #15
Firstly, I will talk about the steps that are necessary to open a signal.
1) Preparation : Points are moved if they are not locked.
2) Formation : If all of the points can be commanded to move in the right position, the route is formed.
3) Locking : The points are locked once the route is formed. They are locked by what we call transits. The transits are shown on the track plan.
4) Establishment :

[2015-09-20 20:16] npiganeau commented on #15
Thanks @Sharpe49 for the infos !

So I changed the train behaviour in front of an A to reduce speed to 30 km/h ASAP, that's the closest I can do with the current implementation. Also, when the "driver" will "see" the next signal (that is ```defaultSignalVisibility``` metres before the signal, "he" will accelerate again if the signal has cleared in between, so he will behave as if there were contin

[2015-09-20 20:18] npiganeau commented on #39
I agree, this should be implemented.

[2015-09-20 20:20] npiganeau commented on #40
I take this one. I planned to change the right dock panels showing train and service information from tables (which do not provide good readability) to HTML templates.

So once I get this to work, it will be easy to serve them to others through a web server

[2015-09-21 00:08] Sharpe49 commented on #15
There's something weird if I put several RR signals one after another.
The announcing signal should only present RR+A if a diverging route is set and the next signal is RR. Otherwise, the signal should display R.

Also, there can be Cv M signals on the main tracks. They are used for trains that have to move backwards on a different route after having crossed the signal. Their aspect is ignored for

[2015-09-21 07:11] npiganeau commented on #15
- First point, you're right. See my comment on your PR #41
- For Cv/M on main track, ok I'll create a new signal type. I'll probably need to create a new condition too (ROUTE_SET_ACROSS). BTW, how do they open if next signal main line signal is A, S or C?
- For creating a route to enditem, the current logic is to use a *_TP signal as the last signal (see signal-test). Indeed, if we created a route

[2015-09-21 11:57] pedromorgan commented on #38
Ok am assigning this to myself, for jenkins build server..

WE need slaves though..

I suppose we need...
- win binaries 32/64
- and NIX ?
 -- maybe pip install
 -- or even git install... for hardcore...

[2015-09-21 12:02] pedromorgan commented on #40
So what we could have is a mobile app..
that is served from TS2, and ajax/websocket feed...

For example a "junction" or "level crossing" could be there as a fake app..

Server via socket commands.. etc..
This is what my idea is with interlocking and acrually using arduino and alike or a "real set" to work with ts2..

Is anyone reaching out to hobby rail about how they do interlock etc ???

ie we

[2015-09-21 12:12] npiganeau commented on #38
pip install is cool

Even better would be also to have DEBs and RPMs for major distributions (I believe that most of our users aren't hackers at all)

[2015-09-21 12:37] pedromorgan commented on #38
Emm I have reservarions about deb and RPM..
mostly because of maintanace hell and forking and a crashed version not working a year later..

So for now if we stick to pip.. (but never done a proper pip install);..

[2015-09-21 12:39] pedromorgan commented on #36
@mcgiwer is it workign now ??

[2015-09-21 14:44] mcgiwer commented on #36
@pedromorgan
No, I get following output:

$ ./ts2.py

Traceback (most recent call last):
  File "./ts2.py", line 23, in <module>
    import ts2.application
  File "/media/ubuntu/tmp/dane/ts2-master/ts2/application.py", line 21, in <module>
    from PyQt4 import QtCore, QtGui
ImportError: No module named 'PyQt4'

[2015-09-21 14:56] pedromorgan commented on #33
And ..
The next train to arrive at platform 5 is the xx to yyy
Status LATE.. EARLY etc

[2015-09-21 15:04] mcgiwer commented on #36
UPDATE:

after changing in most files from PyQt4 to PyQt5, I got partially rid of the PyQt4 problem, but I get following output:

$ ./ts2.py

Traceback (most recent call last):
  File "./ts2.py", line 23, in <module>
    import ts2.application
  File "/media/ubuntu/tmp/dane/ts2-master/ts2/application.py", line 23, in <module>
    from ts2 import mainwindow
  File "/media/ubuntu/tmp/dane/ts2-master

[2015-09-21 15:15] pedromorgan commented on #36
Ok ok.. Am getting confused..
I'm here on Ubuntu with develop branch mainly..

What u running there and what is the "download ???

want to get to the bottom of this so u can get it running..

BTW we are doing a bit change in the TS" project where we are..
- moving to pyqt5+pytyhon3 mandatoraly
- serialising data to json and intendint to set up a website sson to share
- and moving from sourforge to

[2015-09-21 15:17] mcgiwer commented on #36
the branch on with I had done changes afte downloading on hard disk was the one from the main branch on GitHub :)

[2015-09-21 15:22] pedromorgan commented on #36
Can u get on irc.freenode.net#trainsig2

[2015-09-21 15:26] pedromorgan commented on #36
I want to establish which version your on.. and what windows version...

I kinda got a virtual machine here so wanna taest againt that..

At first though..
we are into pyqt5 land so pyqt4 is not the future..

So maybe your python version is wrong or something alike..

Even on kubuntu here and debian servers it catches me out as I am stillin python=2.7+ rather than python3..

That is why I am switc

[2015-09-21 15:33] pedromorgan commented on #39
So this goes back to my aviation and FlightGear..

We can info in realtieme abot weather and icing conditions..

And make it fail once it a 100.. if icy then more..

This is why we want UTC and a realtime system to actually grab real eather conditions and expect rain and ice and snow at all..

We need the online service basically to emulate all this fun and make it more real..

Ie the switch might

[2015-09-21 15:35] pedromorgan commented on #15
Guys.. your ahead of me..

I kida want to create a "guide to signalling" starter..

Kinda want to extract the above.. "how it works stuff".. ...

As an education et all..

Is that ok.. ??

[2015-09-21 15:36] mcgiwer commented on #36
I use only Linux (Ubuntu 14.04) with:

* Python 2.7.6
* python3-pyqt5

[2015-09-21 15:38] pedromorgan commented on #36
Thats an oops...

We are onto
Python3....
and pyqt5..

And develop branch ... is what I am using..

U cheching out download with git..
or a binary.. zip etc..

On 21 September 2015 at 16:36, M.D. <notifications@github.com> wrote:

[2015-09-21 15:44] mcgiwer commented on #36
@pedromorgan
You has missunderstand me earlier... the python3 was a part of PyQt package name... Python version is above 3  is avaliable for Ubuntu but only from version 14.10. For 14.04 (with I use), the latest one is 2.7

[2015-09-21 15:45] pedromorgan commented on #36
Yes I do.. worry get on chat at
irc.freenode.org#trainsig2

On 21 September 2015 at 16:44, M.D. <notifications@github.com> wrote:

[2015-09-21 15:56] pedromorgan commented on #36
Ok Pyqt4 is out..

I did some of the "tranistion code" for moving to PyQt5
So the platform is
- python3
- pyqt5
previous was
- python 2.7
- pyqt4

We are adopting the python3 and pyqt5

[2015-09-21 16:26] pedromorgan commented on #36
Ypipee new irc channel#
irc.freenode.net#trainsig#2

[2015-09-21 16:31] pedromorgan commented on #36
Ok new chat line

irc.freenode.net/trainsig2
;-))

[2015-09-21 20:01] npiganeau commented on #15
@pedromorgan Ok. No problem !

[2015-09-21 20:05] npiganeau commented on #15
@Sharpe49 I've created a new condition called ROUTE_SET_ACROSS. It is true if a route is defined across this signal, in the same direction but neither starting nor ending at this signal. I've updated my post above with this info.

I'll just let you create the signal Cv/M signal on line you described above, because it is not very clear yet in my mind.

[2015-09-21 20:13] Sharpe49 commented on #15
Is it normal that, if I put an automatic signal before a TP signal, the TP signal never opens ?

[2015-09-21 20:14] npiganeau commented on #36
@mcgiwer
Let's make it simple:
- TS2 does not work with Python 2 you need Python 3.3 or above (which is shipped with ubuntu 14.04, no pb. Just ```ll /usr/bin/python``` to check which version will run if you run when typing ```python``` as several versions can be installed side by side. Run ```python3.4``` (on 14.04) instead of ```python``` to run python 3 for sure)
- Either you have Python 3 + pyt

[2015-09-21 20:20] Sharpe49 commented on #15
And for the Cv M signal, it's what we call a intermediary signal.
Example :
We have 3 signals called A, B and C.
A and C are C S A VL signals.
B is a Cv M signal.
There are 2 routes : from A to C and from B to C.
If a train is between A and B. You have to set the B-C route. Signal B is at the M aspect.
The train is shunting (mandatory).

If a train is in front of signal A, you can set the A-C rout

[2015-09-21 20:37] npiganeau commented on #15
Just fixed the bug for TP not opening when after an automatic signal (it needed a trigger...)

[2015-09-21 20:47] npiganeau commented on #15
And now added a new condition to FR_SIDING when a route is set over it on a main track.

Check signal-test to tell me if this is the expected behaviour (the Cv/M before the TP signal)

[2015-09-21 20:54] Sharpe49 commented on #15
Yes, it is the expected behaviour.
There's something weird about the train though. It is slowing down when it is approaching the intermediary signal.

[2015-09-21 20:58] Sharpe49 commented on #15
Weird, when I load the Gretz simulation with the TSL file I have put in my pull request, this error is shown :
Traceback (most recent call last):
  File "C:\Users\Cedric\Desktop\ts2\ts2\mainwindow.py", line 240, in loadSimulation
    self.simulation = simulation.load(self, file)
  File "C:\Users\Cedric\Desktop\ts2\ts2\simulation.py", line 115, in load
    simulation.initialize(simulationWindow)

[2015-09-21 20:58] Sharpe49 commented on #15
I can't understand what's happening.

[2015-09-21 22:38] mcgiwer commented on #36
@npiganeau I have updated my python and have now Python 3.4.3 + python3-pyqt5

[2015-09-22 06:54] npiganeau commented on #36
That is the same config as I have.

It won't work with master branch, checkout develop branch

[2015-09-22 07:05] npiganeau commented on #15
Check your routes, maybe one is badly defined. Or I have a bug. I'll check.

[2015-09-22 07:12] npiganeau commented on #32
@pedromorgan Please do not add people to owners of ts2 project but rather to the other teams depending on their contribution. Thanks !

[2015-09-22 09:42] mcgiwer commented on #32
@npiganeau Who's the creator of the ts2 project? I'm confused now...

[2015-09-22 14:02] npiganeau commented on #32
I am the writer of software itself (see copyright notice). Contributions are welcomed, but I wish to keep an eye on what is merged, so please make pull requests.

@pedromorgan created the project on github, the website, the data repository, the doc website, etc. He is also a code contributor and brainstormer to bring in new ideas to keep this project alive.

Before he joined, ts2 was alive about o

[2015-09-22 18:07] npiganeau commented on #15
I've just fixed the train slowing down when seeing a M aspect on main line: I created a new FR_M_DISCARD aspect that shows up like a M but is considered VL by the train.

[2015-09-22 18:33] npiganeau commented on #15
Fixed indexError: list index out of range. It was a bug on my side that appeared after creating ROUTE_SET_ACROSS condition

[2015-09-22 19:56] Sharpe49 commented on #15
After having done some modifications, I get another error. I think it comes from my data.
Is it possible to have some checks during the save operation ?

Here's the error :
Traceback (most recent call last):
  File "C:\Users\Cedric\Desktop\ts2\ts2\mainwindow.py", line 240, in loadSimulation
    self.simulation = simulation.load(self, file)
  File "C:\Users\Cedric\Desktop\ts2\ts2\simulation.py", li

[2015-09-22 20:28] npiganeau commented on #15
@Sharpe49 You're still one bug ahead of me !

I've just fixed the bug which made A+RR30 show instead of R30 in gretz simulation signal 3609. It was a pb in my code, the signal definition in tsl file was OK.

[2015-09-22 20:31] npiganeau commented on #15
For the KeyError: 30, it probably is because you have one signal that checks when route 30 is set to display an aspect, and you deleted route 30 afterwards.

I'll see what I can do to have some checks when saving.

[2015-09-22 20:35] Sharpe49 commented on #15
Ok, so KeyError is the ID of the object that is searched...
I will try to find which signal provokes this error.

[2015-09-22 20:52] Sharpe49 commented on #15
Alright, I corrected the signal and tested your modification. Works perfectly.
I will try to add more trains now.
I think the next step for Gretz... will be the blinking aspects.

[2015-09-23 14:45] mcgiwer commented on #36
@npiganeau Please stop removing the code updates I do

[2015-09-23 16:27] npiganeau commented on #36
@mcgiwer as explained in #32, contributions are welcome but please submit them as pull requests.

[2015-09-23 16:51] mcgiwer commented on #32
@npiganeau From what you write, above, @pedromorgan is technically he's the main administrator of the GitHub ts2 project and this is kinda wird that you tell him who he can or cannot add...

[2015-09-23 16:53] mcgiwer commented on #36
@npiganeau I do that as a pull request

[2015-09-27 08:36] mcgiwer commented on #36
@npiganeau Could you see my work on the ts2 at: https://github.com/mcgiwer/ts2 ? I did there some iomprovements in the code, like:

+ added a PyQt selector script ( pyqt.py ) with discovers if there is PyQt4 or PyQt5 installed and imports the QtCore and QtGui libs.

+ modified that the ts2 code refers itself to the selector script to use the imported by it PyQt libs

[2015-09-27 15:24] npiganeau commented on #36
@mcgiwer Ok. Actually, this is slightly more complex since the name spaces have been modified between Qt4 and Qt5. For instance, all widgets have been transfered from QtGui to QtWidgets, some classes have been transfered from QtGui to QtCore or vice-versa, etc. Also, some function that are used in ts2 have been deprecated.

That is why we decided not to support both PyQt4 and PyQt5 at the same tim

[2015-09-27 15:27] pedromorgan commented on #36
Maybe we need to add words to that effect in the README on both branches.. ??
Or just do a quick release bumping master to Qt5 ??

[2015-09-27 15:41] mcgiwer commented on #36
@npiganeau the code in the pyqt.py is a example solution how to check the code and import needed PyQt libs (it may be properly addapted). The remaining files would refer itself to it to import any PyQt and Qt related libs (in the example one I had imported the both: PyQtCore and PyQtGui). This way it would possible to get at latest partial backwards compatibility.

if you want then you can merge f

[2015-09-27 16:30] mcgiwer commented on #36
@pedromorgan & @npiganeau Something is wrong with the repo. I try to do the pull request and I get the error that I don't have write permission to it. Could you check and fix it?

[2015-09-27 19:16] npiganeau commented on #36
The merge request went fine. Thanks for the polish translation.

Sorry, I'm not sure I really understood what you meant with

but I try to keep the ts2 version on the develop branch working at all times. I suggest you try it with gretz-armainvilliers simulation from ts2-data repository to get a view of the new features.

[2015-09-27 19:16] npiganeau commented on #36
@pedromorgan You're right, I'll update the READMEs

[2015-09-27 19:28] npiganeau commented on #40
Ok, I keep the idea of making a full featured web service to interact with ts2.

So that we could just send a GET http request to, let's say ```http://server:port/places/:code``` where ```:code``` would be the place code and the server would send back a JSON with the timetable at this place.

And you would send ```http://server:port/places/:code?format=html``` and the server would return a webpage

[2015-09-27 19:32] pedromorgan commented on #40
:-)))) yep...

Only snag is, and I looked into this is what to use as server.. eg in pure python, tornado ot PyQt5

"My plan" would be to use PyQt5, so signals slots et all are "native"..

I did an experimental WebSocket server a while back in pyqt5, so it wouldbe interesting to dig out this code as well...

[2015-09-27 19:37] npiganeau commented on #40
I was thinking about ```http.server``` from python standard library, but I'll have a look at Qt5

[2015-09-27 19:44] npiganeau commented on #15
News from last devs of this week-end

- Trains now know how to run on sight. If you have 2 trains in the same block they will not run one on top of the other as before ! I'm just a few lines of code from a working permissive block system (such as french BAL), that is a block system where the driver is allowed to cross a danger signal after having stopped if he runs on sight with an appropriate spe

[2015-09-27 23:34] pedromorgan opened #44 "TS2 Server"
So here are some thoughts about the scenario for comment and ......

the idea is to create a server so end users can
- share data.. independant of TS2 release..
- download load latest
- create and update..
- generally share stuff between people...
- We already got the ts2-data repos https://github.com/ts2/ts2-data
One of the stategic steps in `develop` is to convert to json format as this is basic

[2015-09-27 23:41] Sharpe49 commented on #36
I don't think having a PyQt4 compatible version is  a good idea. It adds some complexity for... nothing Most Linux desktop environments are moving from Qt4 to Qt5 (example : KDE 5 and LXQt) and most distributions can handle having both installed at the same time.
Qt4 is now no longer maintained (besides some security fixes). No new development should be based on Qt4 !

[2015-09-28 00:01] pedromorgan commented on #36
Guys.. Can I close this issue.. please..

I only joined the project a few months ago, .but there is a huge issue of (as part of day job)..
- python2.7 + Pyqt4
- python2.7 + Pyside
- python3 + Pyqt4 == current ts2 head (a strange combination)

NOTE Qt4 = square:
- the Upstream c++ Qt4 is in maintanance mode.. no dev
- all the API's to Qt4, ie PyQt4 and PySide is moot, they are not in dev

NOTE Qt5

[2015-09-28 09:39] npiganeau commented on #36
I think we all agree. I close.

[2015-09-28 09:39] #36 closed

[2015-09-28 18:43] mcgiwer commented on #36
mayby the ts2 should be writen from scratch for PyQt5 or in other language (like by example C++ or Java to make it more universal instead of fixing whole time the newly created bugs?

[2015-09-29 01:13] Sharpe49 commented on #36
While I quite like the idea of using C++ (C++11 is the language I use the most, mainly with Qt5), I think that a rewrite would be quite long.
There will be improvements, for example better debuggers, better performance (well... TS2's performance is already great so this factor isn't really important), but python has a garbage collector which makes memory management... a joke (but for me, that just

[2015-09-29 19:00] npiganeau commented on #15
Done it! We have working permissive blocks now and they have been implemented with FR_BAL signals. When a train faces a S (single red) signal aspect, it stops in front of it, then 30 seconds later, it starts again with a limited speed of 30 km/h. All this behaviour is 100% configurable in TSL files.

Now, I will stop working on signals for a while to concentrate on the other topics of ts2.

This i

[2015-09-29 23:10] mcgiwer opened #45 "[Suggestion] Repository clean-up request"
Hello. I wanted to suggest that you guys do a clean-up in the ts2 repository because it's one big mess right now with too many splits and the code of PyQt4, PyQt5 mixed up in one place.

My suggestion is to:

* message about the repo maintanance with request to hold up with works
* save the repo deplay key (if there is any)
* clean-up the code (leave only the latest PyQt5 development and latest st

[2015-09-29 23:41] pedromorgan commented on #45
We're all trying to and working towards that..
Indeed its a big change atmo, and I aint got time, and kinda  newbie like u.. ;-(

But just over the horizon is... in "develop branch"

Ie .. new release ==
- PyQt5 - and this means we can then exise all pyqt4 code et all
- Also json for data storage instead of sqlite... so removes a dependancy
- and lots of change in sim code..

Unfortunately.. I onl

[2015-09-29 23:56] pedromorgan commented on #45
Actually @mcgiwer you made me think of another idea.. really.. but..

We could just rename this repos as ts2-legacy
Then `create` a NEW  pyqt5 - develop ts2 repos..
with all olde crap gone ie sqlite, pyqt4 et all.. a new start..
and maybe bump a version to `15` or something easier than current
It would be up to @npiganeau really if we "loose history"..
but the pain of use starting with a new clone

[2015-09-30 00:04] pedromorgan commented on #40
Its #websockets we are after actually.. so we can fire events, and broadcast.. probably..

- Think station notice boards on a pi screen
 - and level crossing microswitch on model rail firing off and event..
- and lots of led lights multiplexed..

Maybe I am cheating by thinking of wiring ts2 up to a railway set for fun..

[2015-09-30 00:15] Sharpe49 commented on #45
I don't think creating a new repository is useful.
The current size of my working directory is 8,81 MB.
That's very small. Let's compare this with Open Rails history which was full of compiled programs till one or two years ago : 743 MB when cloned with git-svn.

Also, I don't think doing a huge version bump is useful either. But we can apply the semantic versioning method which is the one that is

[2015-09-30 07:13] npiganeau commented on #45
The github repo is a source repo. Its aim is to manage sources and trace development history for hackers.

It is not meant to be a deployment repository. Currently deployment is made from the 'releases' tab of this repo or from sourceforge.net. Although there are plans for it (#38), there is no continuous integration yet.

Current released version is 0.5, and it is PyQt4 only. It is certainly a pi

[2015-09-30 07:13] #45 closed

[2015-09-30 19:23] pedromorgan commented on #44
Gonna use TS2 as a gunuie pig for RAML http://raml.org/

[2015-09-30 20:14] pedromorgan commented on #40
Actually I just realised why this is a good plan because FlightGear uses the same stuff..

In FlightGear they have techniue called "addListener"
eg in psuedo code go get altitiude every second
[code]

The FlightGear sim internally uses a **property-tree** ie /engine[0]/rpm and alike and this
is the way they 'maintain state' and 'different trhead communicate'..

Quick note is that around 70+% of a

[2015-09-30 20:23] pedromorgan opened #46 "ROADMAP-2015"
Thought I'd create this issue so we can share idea and plans..
These are the things in mind.. Please change to requirements.. but these relate to infrastruct

v0.5
==========
Current release is 0.5 and last with pyqt4
We are moving from sf to github

v0.6
==========================
- [X] New release that is PyQt5 = Python3 only
- [X] Announce move and infrastructure to github
- [X] New home page,

[2015-09-30 20:40] pedromorgan opened #47 "SVG Images"
Not sure how there are created in TS2 atmo..

But a lesson from flightgear is that if they are in SVG, then we can read and serialise into any format..

This means maybe we can have stock signal images..

But this also goes a bit further to what signalling is..

[2015-09-30 20:40] pedromorgan opened #48 "SVG Images"
Not sure how there are created in TS2 atmo..

But a lesson from flightgear is that if they are in SVG, then we can read and serialise into any format..

This means maybe we can have stock signal images..

But this also goes a bit further to what signalling is..

[2015-09-30 20:42] pedromorgan commented on #32
We are there ;-))))
letz move on @npiganeau ;-)

[2015-09-30 20:42] #32 closed

[2015-10-01 06:56] npiganeau commented on #48
Duplicate of #47

[2015-10-01 06:56] #48 closed

[2015-10-01 07:15] npiganeau commented on #44
I have a concern about file size. A ts2 sim as liv-st in json is 1.5 MB whereas it is 10 times less when zipped. It would be a pity to exchange json files unzipped ...

### File format
This is the file formats that will be supported by TS2 :
- .ts2 files will be a zip file with a single json file inside called ```simulation.json```. The json file will be without indent and line feeds and with unor

[2015-10-01 16:08] pedromorgan commented on #44
Ok that all makes sense...

Certainyl server side, the idea is to serialise to ts2-data in indented, sort keys. buts its a piece to cake to pack that into a zip file.. and vice versa..

[2015-10-01 16:14] pedromorgan commented on #44
Maybe we can have ts-data as a "submodule" to ts2 ?.. but not sure.

[2015-10-01 17:01] npiganeau commented on #44
Submodule would do the trick for hackers installing from source via git, but not for end users installing from exe, pip or whatever.

[2015-10-01 17:02] npiganeau commented on #47
Actually, there are no images in ts2 apart from icons. Everything in the layout is painted on the fly by code using Qt QGraphics framework.

[2015-10-01 17:18] npiganeau commented on #40
I didn't know about websocket, but it seems interesting, and with Qt providing a websocket server that should not be too difficult.

My thinking is about this protocol not being widely adopted yet contrary to http web services.
- When it comes to synchronizing to model railways or any other type of homemade device or software, that is not an issue since we just have to code the websocket to commun

[2015-10-01 21:10] pedromorgan commented on #38
Have created and account in the "cheeseshop" for `pip install`

This needs a setup.py file inroot of project.. is @npiganeau samiliar with this...

Also I kinda want to stick the "version" into into a single `ts2/version.py` of alike.. so these can be loaded without all the pyqt libs and dependancies,, eg in sceneario such as a docs build where no libs are installed..

[2015-10-02 11:43] npiganeau commented on #38
setup.py is a distutils/setuptools file. We already got one for cx_freeze which is an extension to distutils. We'll just need to add an 'install' target.

For version, up to now I put the info in utils.py by I saw you also put some metadat in ts2/__init__.py

Putting all metadata info, including version in ts2/__init__.py is fine for me, let's do that !

[2015-10-02 22:24] pedromorgan commented on #40
So didnt know about QWebsocket, and dont work for me anyqay.. yet.. on 5.2 ..

But found previous hack.. here
https://github.com/ac001/FlightGear-MP-tools/blob/master/MP_monitor.py#L137
and sending data
https://github.com/ac001/FlightGear-MP-tools/blob/master/MP_monitor.py#L310

[2015-10-03 01:25] pedromorgan commented on #47
So this is a bit of fun to run a signal on a mobile and change its colors.. next step is to get a websocket for timetables, et all...

[code]

[2015-10-03 01:50] pedromorgan opened #49 "bug: crash on editor new"
In the Editor, select `New` from the menu, Looks like a hangover from sqlite but not sure how to fix.
[code]

https://github.com/ts2/ts2/blob/develop/ts2/editor/editorwindow.py#L580

[2015-10-03 01:55] pedromorgan commented on #49
Ahh. .figured out what was happening..+ fixed

[2015-10-03 01:55] #49 closed

[2015-10-03 15:28] pedromorgan commented on #46
OK we got an IRC channel at `irc.freenode.net#TrainSigSim` ;-) #ts2 was taken ;-(

[2015-10-04 04:08] pedromorgan commented on #44
as an experiment
Created a new ts2-server, using python+flask+postgres
https://github.com/ts2/ts2-server

And preview here
http://server-ts2.rhcloud.com/ajax/sims

[2015-10-04 08:08] npiganeau commented on #46
Good idea !

[2015-10-04 08:17] npiganeau commented on #46
Updated roadmap post

[2015-10-04 08:18] npiganeau commented on #23
@pedromorgan You can close this one once you merged

[2015-10-04 08:18] npiganeau commented on #22
@pedromorgan Can be closed after merge

[2015-10-04 09:08] mcgiwer opened #52 "Problems with the dev version of ts2"
I have a question. When do you plan to update the main application code to make it for PyQt5 as was planed? the actual application code in the "master" repo refers itself whole time to PyQt4.

May I offer that the simulator for PyQt5 could be named by example ts3 to reorganize the new version?

[2015-10-04 11:28] npiganeau commented on #52
The new version will be released when we have finished the tasks in the roadmap (#46). This can take more or less time depending on our availability to code. For the record, it took 5 years between v0.2 and v0.3 and 2 years between v0.4 and v0.5 ...

But again (sorry for repeating myself) you don't need to wait for this release to have ts2 working in a pyqt5 environment: just check out develop bra

[2015-10-04 11:39] mcgiwer commented on #52
@npiganeau ok... it working, but kad found some errors:

* while starting:
$ ./start-ts2.py
pl_PL
QMetaObject::invokeMethod: No such method QMenuBar::aboutToShow()
Traceback (most recent call last):
  File "/media/ubuntu/tmp/dane/repo/ts2-develop/ts2/mainwindow.py", line 429, in downloadSimulations
    with open(fName, 'wb') as f:
FileNotFoundError: [Errno 2] No such file or directory: 'simulation

[2015-10-04 12:34] npiganeau commented on #52
Create a simulations/ directory at the root of ts2 source and try again. We'll fix that.

[2015-10-04 15:12] npiganeau commented on #52
I've just fixed the pb of editor not opening in ubuntu.

[2015-10-04 19:39] pedromorgan commented on #23
https://github.com/ts2/ts2/pull/51

[2015-10-04 19:39] #23 closed

[2015-10-04 19:40] pedromorgan commented on #22
https://github.com/ts2/ts2/pull/51

[2015-10-04 19:40] #22 closed

[2015-10-04 19:41] pedromorgan commented on #20
@npiganeau You kinda done this so closing :8ball:

[2015-10-04 19:41] #20 closed

[2015-10-04 19:42] pedromorgan commented on #29
Done in develop

[2015-10-04 19:42] #29 closed

[2015-10-05 05:05] pedromorgan commented on #40
Websocket idea https://github.com/ts2/ts2/pull/54

[2015-10-05 22:06] pedromorgan opened #55 "Questions + Docs Update"
Am looking at the API docs + project and have some questions also clarifications

File Format
=================
am i correct in saying that..
- `*ts2` files are zips containing a `simulation.json` file
- `*.json` files are serialised data with indent=4 and sort_keys (ie versionable)
- the `__FILE_FORMAT__` dictates the format.. and changes (maybe backward compatible)

.tsl
=============
What are t

[2015-10-06 10:41] mcgiwer commented on #55
I think that *.tsl are the translation files.

The docs need to get the "issues" link fixed because it has a error. Instead of: "https://github.com/ts2/ts2/issues" is "https://github.com/ts2/issues" with shows up the 404 error

[2015-10-06 10:58] mcgiwer opened #56 "Needed fixes in the ts2 and editor"
There are needed followed fixes:

* in the editor there too few track elements possible (by example not all signal, track begin/ends types avaliable)
* no possibility to rotate the track elements with makes hard to design more complex tracks
* no animation for the crossover switching
* problem with route setting - to set a route, the player need to click from signal to signal, with make the route

[2015-10-06 12:14] npiganeau commented on #55
### File format
Yes, that's it.

The ```__FILE_FORMAT__``` was most important when files where SQL to upgrade the schema. Now that it is JSON, we probably won't need it.

### TSL
TSL = TS2 Signal Library. That's the main improvement of v0.6.

TSL files are the signal types definitions files. We can define as many signal types as we want with different aspects and behaviours, especially to define s

[2015-10-06 12:29] npiganeau commented on #56
A quick answer on some points, I will analyse the others:
- Signals are defined by signal type which is a property of the signal item. Buffers are also signals of type 'buffer', so to put a buffer, put a signal and select type buffer.
- There is no pb with the switching of signals. It all depends on the signal type selected. Especially purple and white signals are french shunting signals, so the s

[2015-10-06 13:10] mdziczkowski opened #57 "[Idea] Programming language change idea"
hey @npiganeau I hust had a interesting idea. Have you heard about the GO language? it's kinda easy to learn and gives less problems then pyqt, besides it work easyly with json, with would correspond quite good with the webserver idea you work at. I think the result of testing it could be very interesting

[2015-10-06 16:33] pedromorgan commented on #57
I use golang on some web projects, and indeed its cool and nice and love it.

However, it has not got a mature gui api; and the current qt bindings are for qml only, so its not really a contender.

[2015-10-06 17:10] mcgiwer commented on #57
@pedromorgan I thought more about it as the part of the webserver part of the project

[2015-10-06 17:14] pedromorgan commented on #57
I considered it for the server, which I started an idea here https://github.com/ts2/ts2-server,

But then considered that ts2 is in python, so we might as well make server python.. It could still be done in golang though.

[2015-10-06 19:55] npiganeau commented on #56
I've just had a look at
- problems with deleting elements

Actually the problem is that Qt does not map the delete key to the shortcut when running on unity. But the delete function works by calling it from the menu. I haven't found a workaround yet.

[2015-10-06 20:19] pedromorgan commented on #57
@mcgiwer Can u code in go ?

[2015-10-06 20:55] pedromorgan opened #58 "Editor Tools - more presets"
Just got an idea, whether its possible to include more "preset"..
and example would be a "junction".., and possibilities, in a drop down eg

Clicking a junction with icon
[code]
Would show permutations
[code]
[code]
[code]
[code]

The same could be done for crrossings, etc with presets for parallel crossovers, Y junctions etc..

[2015-10-06 21:42] mcgiwer commented on #57
@pedromorgan I just started to learn it

[2015-10-06 22:44] pedromorgan commented on #57
That's great, its a real fun language :+1:

[2015-10-07 00:33] Sharpe49 commented on #57
For the moment, this language is used by a minority. I don't think we should use it.
Having a good language isn't the most important thing in software development.
The most important thing is having great libraries.
And the best languages for this are C/C++, C#, Java and Python (we can also add PHP in this list, but it is more webpages oriented).
The problem with Python is that, for applications t

[2015-10-07 09:26] npiganeau commented on #56
@pedromorgan do you have the keyboard shortcut set correctly for editor/edit/delete on KDE ?

[2015-10-08 19:32] npiganeau commented on #58
Yes, we can imagine having presets being a combination of several trackitems already pre-configured.

To pull the idea further, it would be cool that the user can define their own presets by saving a selection of trackitems on the scenery.

[2015-10-08 19:34] #52 closed

[2015-10-09 08:57] pedromorgan commented on #58
This is why we need the online server to share, and creaet signals et all and download and uplaod etc..

lets go.. mad idea but possible..

[2015-10-09 09:12] pedromorgan commented on #57
@mcgiwer  created a new repos.. lets have fun ;-)

@Sharpe49 its not c++ .. NOTED the guys behind go is Rob Pike and God himself and Not Dennis..

Re your problems.. re php which is executed on each page ht and aspx, which like python run in a virtual machine, vs a c++ and hardcore wbser is definatelly something u understand.. and how it works..

So for fun, can we entertain all is what we want..

[2015-10-09 09:17] Sharpe49 commented on #57
By the way, yes I can code in C/C++ (I used it at work in order to create a Qt program), C# (I am a developer of Open Rails), Ada (also at work since I am a signalling engineer and Ada is the most used language for secure systems), PHP (I have several small websites).

[2015-10-09 09:23] pedromorgan commented on #57
Interesting..
So ts2 was original in qt/c++
and rail not familiar, but grew up with php then python.. and at 50+
Also php developer of smarty in yoonder years..

Whats Ada ?

How do I run c# on my linux box?

[2015-10-09 09:29] pedromorgan commented on #57
OOPs ok so read up on ADA..

Thats why we want to use golang, cos there's no headers, compiles fast and throws a tantrum sometimed..

Re writing a server in c or c++, I am still trying to wan flightgear off that concept..

Can u please help, but nagging more please ;-)))
I like to get to root cause, and if a guy codes in php, then I kinda wanna help her/him only more tangents ...

[2015-10-09 09:33] Sharpe49 commented on #57
Ada is a special programming language since it is very strict, which is why it is appreciated for secure systems.
For example, the typing : if you create an alias to Integer (let's call it Distance)... you cannot add a Distance with an Integer. You can only add another Distance variable.

For C#, you can use it with the Mono framework on Windows, Linux and Mac.
For compiled CLR/MSIL executables, y

[2015-10-09 10:17] pedromorgan commented on #57
irc.freenode.net#trainsigsim ;-)

[2015-10-09 10:20] pedromorgan commented on #57
re ada: is this for embedded system ?? or a general PC ?? i assume u cant run ada on a PC cos it need full control..

I dont wanna write a c++ application for ts2.. yet.. so maybe we need to decide what the funcionality is first.. ;-)

[2015-10-09 10:39] pedromorgan commented on #57
@mcgiwer @Sharpe49 @npiganeau
Created a ts2-go repos.. lets have funs...

If anyone wants ts2-rb or other langs.. then please lets move forward.. ;-)

[2015-10-09 10:39] pedromorgan commented on #57
@mcgiwer https://github.com/ts2/ts2-go

[2015-10-09 10:48] pedromorgan opened #60 "New >> 0.6 Release"
Can we move forward with a "point release"..

0.6 is the new qt5 etc..

We need to push this out asap..
So we can convert users into new pyqt land..

We need to do this soon and a critical list of  why not?

We also need to ge intoa  fast udpate methos..

But o.6 will be the test..

What is the stop lsit for vo.6.. afaik it works.. lets blow it..?

[2015-10-09 10:54] pedromorgan opened #61 "Trains"
A train is a sequence of vehicles in a  line..

So maybe moving on we need a database of trains..

At present trains are in the database and length and ecell..

So proposal sis to create a train "clas" is length and assumed length from calc..

The train model also need to incoporate intermodal, passengers and track guague..

We Can have fun in fefining trains more.. but operformance is required in

[2015-10-09 10:59] pedromorgan opened #62 "IRC Chat = irc.freenode.net#trainsigsim"
FIY ;_))

And we got a bot clled ts2bot.. needs feeding ;-)

[2015-10-09 11:13] Sharpe49 commented on #46
French signalling is not finished : blinking indications are not implemented.

[2015-10-09 11:13] Sharpe49 commented on #46
And, by the way, the roadmap should probably be moved in the Wiki.

[2015-10-09 11:28] npiganeau commented on #60
See #46

[2015-10-09 11:34] pedromorgan commented on #60
irc.freenode.net#trainsigsim ..
with @npiganeau Sharpe49

Wwe need to blow a relase.. Its only gonna crash a few PC's and not blow up the world..

Lets have fun gus and make it upadate every week, ans everyone can winge and we get a comitte to sort it out..

Lets move to fast release, and more fast.. after we cahange to pyqt5

[2015-10-09 12:22] pedromorgan commented on #60
From Now..
figure out pyqt5 release..

Make and freeze api and make pyqt5  release..

and release often

[2015-10-09 12:22] #60 closed

[2015-10-09 16:10] mcgiwer commented on #57
I have proposed GO for the server because it's less resource intense then other languages like @Sharpe49 has good noticed

[2015-10-09 19:23] npiganeau commented on #46
@Sharpe49 you're right, I need to develop blinking aspects to be able to fully finish French signalling.

And I'll move this to the wiki.

[2015-10-09 19:30] npiganeau commented on #60
Sorry @pedromorgan, I'm as impatient as you are to see v0.6 out, but if we release it now, I won't have any incentive to code train splitting/joining (it was scheduled for v0.5 originally...).

Moreover, I have plans for v0.7 that will involve a new architecture to take into account #57 , #39 and #40 discussions (I'll give details this weekend), and if I start this before finishing the splitting/j

[2015-10-09 19:36] npiganeau commented on #61
I'm on train splitting/joining right now and the idea is to have train types composed by several other train types so that we can split/join.

Eg. EMU double unit = EMU single unit + EMU single unit but we could also have train = loco + 8 cars.

Composition will be ordered so that when you reverse a train the loco that was at the front is now at the back (so you have to split, shunt it to the othe

[2015-10-09 21:56] npiganeau opened #63 "Next arch = v0.7"
Ok guys here's my plan for v0.7 taking into account several ideas you all had in #57 , #40 , #39 among others.

# Current situation
- GUI and simulation logic are mixed up (although I tried to separate them and make them talk through signal/slot mechanism, it is not always as clear). The monolithic construction of TS2 makes it hard for a newcomer to understand how it works.
- Namespaces are just a

[2015-10-12 10:04] pedromorgan commented on #62
Ok so this is showing commits at
[code]

At v0.6 we need to start promote this as it could be usefuland means adding to help et all

[2015-10-12 10:19] pedromorgan commented on #61
Can we explain this more.. cos am confused a little (and generally am.. )

Am looking also at creating online db of "rolling stock"..

so can we define these terms
EMU and alike.. ?

do we need a "multiple unit" as a standard = 2 cars ?
- a double multiple unit =  4 cars
- or 6 cars or 8 cars
- So do we define length.. of 1 car * length etc ??

This is also thinking about USA style freight locos,

[2015-10-12 10:35] pedromorgan commented on #63
Fantastic.. am still digesting.. but kinda the idea your on about is similar/parallel.. ;-))

BTW: I know limitations of how to knock up an idea, and make it work.. and hacking together.. but things  and on review  wrong place api etc etc.. so @npiganeau thanks.. (and how did u make diagram ?)

Also I add we wan to replicate "real life" somewhat.. and this is from hacking flightgear
- where weathe

[2015-10-12 10:50] pedromorgan commented on #63
Re saving Game.. Lets not focus at that for now imho..
- We can restore state later but lets ntot focus on that now imho
- lets make sim work correct

[2015-10-12 10:54] pedromorgan commented on #35
someone help and find this guy
http://sourceforge.net/u/bogdanc2011/profile/
and update..

@mcgiwer @mcgiwer ??

[2015-10-12 11:01] pedromorgan commented on #63
So we basically gonna use the shite from Flightgear..

So sending signals, and recieving..

Everything is in the "sim", including the "axle counter" and the Fibre optic
- maybe we create a peace train thqat runs from calais to syria and back.. with current refugee..

[2015-10-12 11:43] pedromorgan commented on #63
Has anyone done this already ??
Can we take other sims data files for import ?

[2015-10-12 11:59] mcgiwer commented on #62
@pedromorgan I messaged you many times on IRC but you didn't replied :p

[2015-10-12 12:03] pedromorgan commented on #62
Sorry been thought a nightmare with olde nvdia.geforce.210 and kubuntu..

Its no working fantastic in xfce .. ;-))

[2015-10-12 15:09] pedromorgan commented on #63
Actually reading it again.. Yes.. its kinda spot on in the way we can make it move forward..

- THe general idea is to make each element a seperate "connected" thingi..
- And make then react and sned/rcv too a sim..
- And actually pugggiable.
- Its actally removing some qt signal/slot and making a network instead..
- This is the way to go and more of a reflection of the real time sim..
- @npiganea

[2015-10-13 01:32] #62 closed

[2015-10-13 10:56] mcgiwer opened #64 "Support IRC channel for ts2-go"
### How to connect to the ts2-go support channel: ###

1. For IRC programs
 * **Server**: irc.freenode.net
  * **channel**: #ts2-go

2. On-Line (website) IRC clients

  * **URL**: https://webchat.freenode.net/

  * **channel**: #ts2-go

[2015-10-14 17:22] pedromorgan commented on #57
https://github.com/ts2/ts2-go

And rob pike
- parellel is not concurrent
- explain that to set of railway guys..
- ;-)))
- Not multi threaded is it ?

[2015-10-14 17:26] pedromorgan commented on #40
We can sent Udp, http, websock and all..

So interfaces are..
Same target, but data in json transported in different way and intention

anyway, thinking loud and experience from FligthtGear..

[2015-10-14 17:27] #64 closed

[2015-10-14 17:27] pedromorgan commented on #64
chatting to @mcgiwer

[2015-10-16 14:32] pedromorgan opened #65 "Crash"
Develop has a problem,
with the liverpool from download

[code]

Now I am not sure whats happening and investegations, and diving deep into the bowels of something I dont quite understand.. yet..

[2015-10-16 14:33] pedromorgan commented on #65
In fact its happening on all the sims..

[2015-10-16 14:33] Sharpe49 commented on #65
Reported here also :
https://github.com/ts2/ts2-data/issues/3

[2015-10-16 14:52] pedromorgan commented on #65
Umm ..
[code]

This looks suspicuius
[code]
Is trying to compare a blank instance against other.. Does this compare instances ??
https://github.com/ts2/ts2/blob/develop/ts2/trains/train.py#L1051

[2015-10-16 16:03] pedromorgan opened #66 "HEAD"
Can we do a bit more
- commit early
- commit often

This gives an idea of that is happening in dev branch..

[2015-10-16 16:36] npiganeau commented on #65
Error comes from 3073b8a304494826506b8d65f22e4f64ff3eb00d

@pedromorgan None should be tested through ```if a is None``` and not ```if a == None```

Fixed with commit above

[2015-10-16 16:36] #65 closed

[2015-10-16 16:37] pedromorgan commented on #65
yep ;-))

[2015-10-16 16:38] #66 closed

[2015-10-17 13:58] npiganeau commented on #63
@pedromorgan Yes, you've got the idea.

I close the issue since I moved all the info on the wiki

[2015-10-17 13:58] #63 closed

[2015-10-17 13:58] npiganeau commented on #46
Moved to wiki.

[2015-10-17 13:58] #46 closed

[2015-10-18 07:44] pedromorgan opened #68 "BUGS in Editor > Services"
The ```Append new line``` button shows
[code]

The ```Insert new line``` buttons shows
[code]

Will try and investegate

[2015-10-18 07:55] npiganeau commented on #68
Do you have the end of the trace for the append new line ?

Did you create + select a service before clicking on append/insert (not sure the buttons are disabled when it is not the case) ?

[2015-10-18 07:56] pedromorgan commented on #68
Ahh just realised that I ad no service selected... ..

[2015-10-18 08:51] pedromorgan commented on #68
Umm, what I want to do is enable/disable button based on selection, but `selectionChanged` event is an override function, so not sure how to get around..

[2015-10-18 09:08] pedromorgan opened #69 "Editor: Implement Undo/Redo"
Not sure how to approach, but any ideas ?

[2015-10-18 13:33] npiganeau commented on #68
Tried signal/slot ?

[2015-10-18 13:34] npiganeau commented on #69
No idea, but that would be a cool feature.

[2015-10-18 14:22] pedromorgan commented on #69
Referenced = http://doc.qt.io/qt-5/qundo.html

[2015-10-18 15:40] pedromorgan commented on #55
More Questions, sorry if muppet but need clarfication

Services
==============
I assume a service is the code and start->desination eg London to Glasgow

Am unclear what ``auto_reverse`` and ``next_service_code`` are ?

Services Lines
==============
A Assume this is the "timetable" of sorts ?
and a list of the stops along the way ?

That leads to the question of whether there is a "start time" and

[2015-10-18 16:02] npiganeau commented on #55
# Services
These are fields that define what to do with the train that ended this service:
- ```auto_reverse``` : automatically reverse the train (cos we are at a terminal station for instance)
- ```next_service_code``` : automatically assign this service to the train

New options are foreseen to automatically split our join trains after service end.

[2015-10-18 16:21] npiganeau commented on #55
# Service lines
Assumption is correct.

No such feature as recurring lines. But that's why I have implemented the CSV import/export so that you can do all this stuff in your favourite spread sheet (one service per line so that you can drag downwards). My thought was that on most lines, train don't take exactly the same time between stations or that it can change on peak hour, etc.

With spread she

[2015-10-18 16:23] pedromorgan commented on #55
Can u attach a spreasheet if u got one, for curious..

- Maybe we need a "create spreadsheet" button to create a template..
- Or  even better, make the ts2 more spreadsheet like..

[2015-10-18 16:38] pedromorgan commented on #61
Train Types Questions
====================

The train types in my head and reaaming as "rolling stock"
So looking at the editor, its assumed that length etc dont add up..

So can we explain a but more what each part is..
eg
- code = The type of stock ?
- elements (codes list)

Maybe we need to add
- approx weight = braking/accel factor
- units eg
   - a double EMU
   -  a loco + 4*cars + kitchen +

[2015-10-18 16:56] pedromorgan opened #70 "Refactor & NameSpace"
Here are my thoughts on moving things mainly..

Am getting a bit confused, but i personally font mind more files,
and prefer to conusing namespace..

Overview
=================
I think the sim boils down to the reality of rail,
and expect things to be in certain places
- signals
- timetable
- rolling_stock
- trains
- places = stations, yards etc

So its been hacked ``overtime`` (pun intended),
but

[2015-10-18 17:32] pedromorgan opened #71 "A Sate"
Mayve be need to look at how we do this..

We also need crash detector..
And somwhere to complain to also..

So if it crashed abd a prolem..

[2015-10-18 17:37] pedromorgan opened #72 "HELP"
So yhis is an issude to eveyone who read this..

The baciscs are..
maind line to singals
So if it crashes and no services are running, eg Winter
Then I can go gome and not worrt about it for a few days

- we need acceleration
- and go bigger

I want to put it here
-how I epecrt the works.. to go..
If I click the buton

We need nobble need to on fringe()
= @mcgiwer  The little devil..

[2015-10-18 18:52] mcgiwer commented on #72
I have converted the JSON files to go structures. I had some issues with the "TrackItems" because they were too much mixed up and I needed to split them to several structures, however the structures are universal and can be used to the track JSON data.

The code can pe previewed on https://gitlab.com/mcgiwer/ts2-go/tree/master

I tryed to upload it on github but some kind of error prevented me fro

[2015-10-19 21:00] pedromorgan commented on #71
Am getting into the nitty gritty of things..

So basically we need a state machine..

So even each singal in foftware need a hypothetical time to exchange states..

Long live leds and current detectors, axle counters etc..

This could be fun for modellers wanting to ingect stuff..
after pwoer fail etc..

[2015-10-20 13:32] #71 closed

[2015-10-20 13:35] pedromorgan commented on #47
So this is a proof of concept on using svg, and toolbuttons to select..

https://github.com/pedromorgan/ts2/commit/b595c2310c1a5b0b71f8cdbb9f1c574a8187fe8f

Note  the toolbutton on the bottom right, = svg icons
![svg1](https://cloud.githubusercontent.com/assets/123932/10608610/b3fca08c-7737-11e5-8ce1-948aef439e16.jpeg)
![svg2](https://cloud.githubusercontent.com/assets/123932/10608613/b67c62d4-773

[2015-10-20 13:35] pedromorgan commented on #58
see #47 for SVG icons idea

[2015-10-20 16:20] pedromorgan commented on #72
See https://github.com/ts2/ts2-go for more @mcgiwer

[2015-10-20 16:20] #72 closed

[2015-10-20 16:24] pedromorgan commented on #47
Am still wondering about this idea..

Mainly svg because we can use on website, mobile etc etc in future..

So maybe these can be created "dynamically" for icons, instead of having a "paint surface"..
But would mean also taking existing "graphics" and converting to svg..
Am still confused on the signal items, and what they all are.. I know a little but advice would be cool,
we could even make this

[2015-10-20 16:35] pedromorgan commented on #70
App globals..

Can we dicuss application globals,, eg `settings` which is instance xobjects/XSettings = extended QSettings

ON pattern I use is using `app_globals.py` and import as G
ie
[code]

This would mean `app_globals.py` would declare objects, but maybe we need to setParent into MainWindow or alike..

[2015-10-20 16:36] pedromorgan commented on #68
Fixed in pedro-dev (probably)

[2015-10-20 16:36] #68 closed

[2015-10-20 16:43] pedromorgan commented on #40
We Will need transactions of some sort.. and a timeout..

- HTTP = make a request and cos and confirmation
- WEBSOCKET = send a message and expect back a message with confirm
- UDP = unsure.. but got for realtime broadcast and high frame rate

[2015-10-20 17:33] pedromorgan commented on #70
Need a TODO list from @npiganeau  and areas to focus on ;-)

[2015-10-20 21:54] npiganeau commented on #55
Just use export as CSV an existing sim (liverpool street is a good one, os you have many many lines) and you get the format for reimporting.

[2015-10-20 22:03] npiganeau commented on #61
Just pushed train split feature.

For a test, you need 2 train types:
- "A" with elements = []
- "B" which is a double A unit, so you set elements=['A','A']

Then right click on a B train and click split.

Then make a new type
- "C" which is a triple A unit, so you set elements=['A', 'A', 'A']

Then split C: the popup let you to decide if you want to split between first and second unit or between

[2015-10-21 22:00] npiganeau commented on #70
Probably we should start by implementing the new arch v0.7 as described on the [Wiki](https://github.com/ts2/ts2/wiki/New-Arch) because this will lead to splitting the code into several independant apps, and so to review all the namespaces.

[2015-10-21 22:02] npiganeau commented on #69
Yep, let's put that in v0.7 editor

[2015-10-21 22:10] npiganeau commented on #47
I like the idea of having an image for each signal type. That makes it clearer for the user what a signal type is.

What would be cool would be:
- To add an 'image' key to signalType JSON with serialized svg as value (see .tsl files and/or builtin signal library in signalitem.py)
- To modify the property model of the editor so that the "Signal Type" value is displayed with an image that is the ima

[2015-10-21 22:20] pedromorgan commented on #47
Thats why I'm looking at this..

https://github.com/ts2/ts2-data/blob/master/UK/signals/UK.tsl

And trying to figure out how it works..in the code..

So for me its a red+green+yellow and various combos..
and these are all vertical.
so same stuff as in ts2, but cant figure out where the "draw" is yet..

I wanna kinda dynamically create the svg, and not files...

[2015-10-22 12:39] pedromorgan commented on #69
Umm.. the setDirty() function, which I started to introduce in the editor.. could be used as commands...

[2015-10-22 21:38] pedromorgan commented on #69
Ok so what we need is a set of comands..

And these command only work in editor.. such as
= move x from (x,y) to (xy)
= create new "item" at x,y

Kinda think we need to "kare a relationaltiona db" and make one thing relect in another..

[2015-10-24 15:50] npiganeau commented on #15
@Sharpe49 I've added checks when saving a sim in the editor (or when loading in game) to see if the sim is valid, especially for route and track item reference in signals.

[2015-10-24 16:04] npiganeau commented on #38
@pedromorgan I'm ok on my side to start the release process for ts2 v0.6.

I've coded all the features I wanted in the [Roadmap](https://github.com/ts2/ts2/wiki/Roadmap), except:
- Train joigning, but that implies many changes that I would rather do after the [Next Arch](https://github.com/ts2/ts2/wiki/New-Arch) rewrite, so I postponed to v0.7
- UK shunt signals: but that's ts2-data now, so we can

[2015-10-24 16:15] npiganeau commented on #38
Oops I forgot: we need to update translations also during the freezing phase (French and Polish and maybe Welsh :-))

[2015-10-24 16:54] mcgiwer commented on #38
@pedromorgan As I wrote in other post, the JSon files in the ts-data need a clean-up and standarisation. For now, they are so mixed up that it's quite hard to work with them...

@npiganeau I need a base to do the current translation work. Please update the ts2_pl.ts file by remove the unused anymore fields and add the ones needed for translation

[2015-10-24 20:01] npiganeau commented on #38
translation files updated

[2015-10-25 14:17] npiganeau commented on #38
French translation updated

[2015-10-25 20:17] pedromorgan opened #74 "Feature Request: zones"
I am playing with gretz/villiers sim and a few things..
#1) Station

A station, is some platform and the test..
Clicking on a "platform "
shows the TOURNAN station info..

So what I kinda want to do  is make the "whole Tournan" station a hot spot.. group
so click upon and see data in station info..

leads to ...
#2) Zones

We cant have llong multispan screens, out lowest in once screen..
I have tw

[2015-10-25 20:18] pedromorgan commented on #74
Question..

How so we create a "order" of stations ?

What I kinda invisage is banging in a list of stations
and their platforms also "uniquely ordered"

[2015-10-25 20:25] pedromorgan commented on #74
Maybe we can parse the "ts2" data and dynamically create svg ;-) ..

Now that tickles me.. dont know why... though..

[2015-10-25 21:03] npiganeau commented on #74
Stations are Places (though all places are not stations...).

Platform after linked to places, so you can have several platforms linked to the same station (see place code property). So clicking on any platform of the station gives the station info.

[2015-10-25 21:05] pedromorgan commented on #74
Yep, platform, but not the text..
So these need to be grouped..
as in liverpool..

and then the arrivals/departures boards..

[2015-10-25 21:06] pedromorgan commented on #74
Same with "tunnel" in liverpool..
We need to create a "Supervilous" item to represet tunnels and bridge etc
Not part of signal.. maybe but a "label" and zone..

[2015-10-26 22:30] npiganeau commented on #38
It's done ! https://github.com/ts2/ts2/releases/tag/v0.6

[2015-10-26 22:33] pedromorgan commented on #38
No t here.. seems like its not in master..

[2015-10-26 22:35] npiganeau commented on #38
Did I forget to push ?

[2015-10-26 22:36] npiganeau commented on #38
;-) Now it is !

[2015-10-26 22:40] pedromorgan commented on #38
So  remove v0.6 staf and make 0.6.1 tag ..

Works here.. on master.. so not a disaster..
Some kinda poem in there..

[2015-10-26 22:42] npiganeau commented on #38
Yep ! I did a 0.6.0 instead. So now should be ok !

[2015-10-26 22:43] npiganeau commented on #38
Now we need advertising on ts2.github.io !

[2015-10-26 22:53] pedromorgan commented on #38
Yep into that.. and soem go devs, arduino freaks, graphic designers.. ;-))
 He He the future as a FOSS project..

I also want to automate a bit.. so new "tag" would be a new release auto magically ;-)

[2015-10-26 22:54] npiganeau commented on #38
Ok

[2015-10-26 22:56] pedromorgan commented on #38
irc.freenode.com#trainsigsim would be handy sometimes

On 26 October 2015 at 22:54, Nicolas PIGANEAU <notifications@github.com>
wrote:

[2015-10-26 22:58] pedromorgan commented on #38
How do meake this one.. IIS and wind
with wndows
https://github.com/ts2/ts2/blob/master/setup.iss

On 26 October 2015 at 22:55, Peter Morgan <pedromorgan@gmail.com> wrote:

[2015-10-26 22:58] pedromorgan commented on #38
anyway.. gettign to grips with py build, as I uipdate apps from github..

On 26 October 2015 at 22:57, Peter Morgan <pedromorgan@gmail.com> wrote:

[2015-10-26 23:02] npiganeau commented on #38
I've put it all in the build.py. Just run ```python build.py build``` and it will make you an exe installer for an exe freeze of TS2.

Didn't try the script on other OS, but freezing really makes sense on windows only.

[2015-10-26 23:04] pedromorgan commented on #38
I would like specific "awarness" of what release is moving forwards..

I now neeed to update www etc.. and pre warned would be handy..eg 24 hours notice so I can make soem noise.

[2015-10-27 08:37] npiganeau commented on #38
Yep, sorry, I was too impatient I suppose ...

[2015-10-27 14:35] mdziczkowski opened #75 "Issues in ts2 v0.6"
When trying to start the 0.6, I'm getting following output (even if I have Python 3+ installed):

$ python ./start-ts2.py
- Qt: Session management error: None of the authentication protocols specified are supported
  pl_PL
- This simulation uses 'UK_4_ASPECTS' signal types which are not available on this computer. You can download the missing files from the server in File->Open dialog (when trying

[2015-10-27 15:24] npiganeau commented on #75
you  need to install simple-json

Either:
```pip install simplejson```

or

```apt-get install python3-simplejson```

if you're on a debian based distro

I need to update the README with this one.

[2015-10-27 17:26] mcgiwer commented on #75
@npiganeau I fixed the simplejson issue by re-installing the lib. After that, new issues apeared (edited my post)

[2015-10-29 21:27] pedromorgan commented on #75
@mcgiwer did you get it working ?

[2015-10-29 21:29] pedromorgan commented on #38
http://ts2.github.io/ is updated manually..

Am trying to make this kinda automated so when "new tag" is created..
then system auto updated website et all

[2015-10-29 21:30] pedromorgan commented on #38
and if @npiganeau enters IRC then ping me..

[2015-11-06 00:48] pedromorgan opened #76 "v0.7 ROADMAP"
@npiganeau Now that the develop branch is "naked"..

Is there anycode available to work on. ??

Or is it a start from scratch ???

What do u want help with ?

[2015-11-06 00:52] pedromorgan commented on #76
https://github.com/ts2/ts2/wiki/New-Arch

[2015-11-08 21:16] npiganeau commented on #76
@pedromorgan The things to do in order are, IMO:

1. Create the sim server according to https://github.com/ts2/ts2/wiki/TS2-Sim-Server-Specifications up to step 2.
  - I have started some trials in go that I've pushed on the nextarch branch
  - Options loading is OK but is not able to load v0.6 string options. I think we should change v0.6 to generate typed JSON options instead of string.
  - I pl

[2015-11-15 00:21] pedromorgan commented on #76
Playing here.. for fun https://github.com/ts2/ts2-sim-server

and researching Signals.. and
find this something I didnt realise there..
https://github.com/ts2/ts2/wiki/Signal-Library

So look at that and then this
https://github.com/ts2/ts2/blob/master/ts2/scenery/signals/signalitem.py#L35

And am trying to figure it out, both in a kinda 'real signal'
and danger, caution, proceed, double yellow et

[2015-11-15 00:47] pedromorgan commented on #76
umm
https://github.com/ts2/ts2-data/blob/master/UK/signals/UK.tsl
vs
http://www.railway-technical.com/sig-uktypes.shtml#Colour-Light-Signals

So that UK right..
aspect = color..

[2015-11-15 17:04] npiganeau commented on #76
Aspect in ts2 = aspect as defined in [SimSig's glossary](http://www.simsig.co.uk/dokuwiki/doku.php?id=usertrack:glossary:aspect) , that is :
1. A colour of a signal lamp or combination of lamps (defined by all the JSON fields of ```signalAspect```, except the ```actions``` field)
2. A message to the drivers (the ```actions``` to perform)

A ```state``` is an abstraction, it does not match to a rea

[2015-11-15 17:37] pedromorgan commented on #76
Thankyou, things are clearer.. (might stick above in the wiki..)

[2015-11-15 17:45] npiganeau commented on #76
Yes, please do update the wiki to make things clearer.

Forgot also to tell that the lamps are defined like this:
[code]
Since switched off lamps are not shown, same aspect can be used in different signal types (e.g. red from 3 aspect or 4 aspect signals is the same aspect in ts2)

[2015-11-15 18:58] pedromorgan commented on #76
um.. or reverse..ed

But me need to be back as the "hitch-hickers-guide".. for a complete muppet
to start..
like me..

On 15 November 2015 at 17:45, Nicolas PIGANEAU <notifications@github.com>
wrote:

[2015-12-20 23:38] pedromorgan opened #78 "New Developers TODO"
Yo all, and newbies,

Here's how to get hacking on a complete rewrite with a new "network architecture"..
- idea is to.. instead having a desktop application and logic embedded.. binded together...
- Next step is to split all stuff up.. see new_arch..

So whatever your talents and requirements..

PLEASE Take your pick ;-))

- Loading a simulation and all its stock, routes etc
- Central sim-server

[2016-01-01 18:43] npiganeau commented on #78
@pedromorgan Happy new year! I've not be in recently, new born baby at home makes things difficult for ts2.

I've just added a developers todo in the wiki.

Also, sim server step 1 is almost done on nextarch branch.

[2016-01-09 00:19] pedromorgan commented on #78
https://github.com/ts2/ts2/wiki/Developers-TODO

[2016-01-09 00:19] #78 closed

[2016-01-09 00:20] pedromorgan commented on #76
https://github.com/ts2/ts2/wiki/Developers-TODO

[2016-01-25 16:14] pedromorgan commented on #76
@npiganeau Can u (if u got time).. just make up the simple websocket that sends the clock...  every few seconds or so..

Hidden agenda is that I need ws in a RL app, and pyqt3, so can experiment

[2016-01-28 09:14] npiganeau commented on #76
@pedromorgan work is slow but ongoing... The simulation's clock is now ticking but now I need to make the interface between the simulation and the server's hub and then to define a registry in the hub to keep track of which connection follows which event (+ define subscription system like flight gear addListener). Then I will be able to send the ticks to the subscribed connections.

Almost there !

[2016-01-28 10:12] mcgiwer commented on #76
don't forget to number (and make the numbering visible) of each track that there won't be any issues in directing trains on propper tracks. In previous version this was missing and it made the simulation bit harder to use

[2016-01-31 16:54] npiganeau commented on #76
@pedromorgan Clock ticks ! Check https://github.com/ts2/ts2/wiki/TS2-Websocket-Protocol to get how to add the "clock" listener and start/pause the simulation.

[2016-02-01 01:15] pedromorgan commented on #76
@npiganeau Can i add a few comments... just to be a pain in the ass ;-))) (sorry in advance)

# object = Simulation, Server
I notice the capital S..... in code also... and i kinda would prefer lower case or indeed case insensitive... I also respect that things are a bit confusing with the origiinal `caseType` vs go's `CaseType`.. sigh!

# Login = Register
I kinda think login is the wrong terminolo

[2016-03-09 12:22] StigHetl opened #80 "Status update?"
I don't know if this was the right place to ask this question, but I couldn't find any other discussion forum.

What's the status of ts2? How's the development going?

Thank you!

[2016-03-09 14:42] pedromorgan commented on #80
Basic rundown....i got involved a year ago ishh..

- Ts2 has moved from SF.net to
- https://github.com/ts2 = ts2 project

The project was migrated from
- Pyqt4
- Pyqt5 which is what current realse is
- at the new website.. http://ts2.github.io/

However, the current "master branch" and latest is the last in series,,
and is indeed being rewritten in
- golang for sim code
- and whatever we want for

[2016-03-09 18:33] npiganeau commented on #80
Hi @StigHetl ,

Well, development is ongoing but at a variable pace, depending on my time... As I always say, it took 5 years between the very first usable version (0.2) and the next (0.3). Now we are at 0.6 which is the master branch. Except for a few possible bugs it should be playable, but we don't have much sims for the moment.

As said @pedromorgan next step is v0.7 which is a major rewrite w

[2016-12-22 06:55] mdziczkowski opened #81 "Upload unlock request"
Hey. I had finished the translation for TS2 (polish language) but I'm unable to upload it because the uploads are disabled. Could some one fix that? thanks

[2016-12-27 12:41] Sharpe49 commented on #81
There has been no development since January 2016. I don't think you'll get a response.

[2017-04-07 01:57] Sharpe49 commented on #80
Hello @npiganeau ,

Is the project dead ?

[2017-04-07 07:23] npiganeau commented on #80
Hello @Sharpe49

Well, perhaps the project is not dead, but it is undeniably sleeping deeply.
Actually, most of my time is taken for another project and that will be the case at least until this summer.

Now if we are several people interested in waking up TS2, that might help my motivation :-)

[2017-04-07 22:56] pedromorgan commented on #80
@npiganeau From my point of view, what's holding progress back a having a having a basic websocket send/recv (eg the clock) and how you see that in code (channels etc). From there I reccon I can help with the editing trains/services etc...

[2017-04-07 22:58] pedromorgan commented on #81
See also PR https://github.com/ts2/ts2/pull/82

[2017-08-01 20:58] onryou opened #83 "How use it on Mac ?"
Dear everybody,

I can read, Multiplatform and how can I use on Mac?

Thanks for your help
onryou

[2017-08-01 21:29] pedromorgan commented on #83
Install pyqt5 and clone repos

Search for `install pyqt5 mac`

No packaging yet .. sorry

[2017-08-01 23:37] onryou commented on #83
I found PyQt Luncher, it is installed with IDLE app.
How to run TS2 on it?

Thank you in advance
onryou

[2017-08-22 13:55] takccs opened #84 "Issue in ts2-data"
When I run TS2 and import ts2-data into the simulator, there are some errors below.

-------------Error-----------------
decorated slot has no signature compatible with PlatformItem.platformSelected[Place]

File "/home/ts2/ts2/ts2/mainwindow.py", line 463, in loadSimulation    self.simulation = simulation.load(self, file)decorated slot has no signature compatible with PlatformItem.platformSelected

[2017-09-29 22:20] LottieVixen opened #85 "simplejson"
Simplejson also needed to be installed and this isn't mentioned in the README.md (perhaps it should be?)
Error given prior to it
[code]

installation of it on mac/*nix is simple
`pip3 install simplejson`
you can also use `python3 -m pip install` in place of pip3

[2017-09-29 22:31] pedromorgan commented on #85
thanks for the report.

[2017-12-06 20:14] gondilon opened #86 "Cannot get scenery to validate"
I am trying to build a simulation, and whenever I start adding signal I cannot seem to get them in the right place to make the scenery validate, even when I align the blue boxes with the route lines. Help!

[2017-12-06 20:20] #86 closed

[2017-12-07 17:26] gondilon opened #87 "API?"
I was digging through the source code files and I found a folder labeled API with some almost empty files in it. Is there a functional API, and if so are there instruction on how to use it?

[2017-12-07 17:48] npiganeau commented on #87
Hi, thanks for your interest in ts2.

No, we do not have an API to access ts2 from outside. The API folder in the docs is there to generate documentation on the source code for people who want to hack ts2 from inside.

Though we do have plans in an undetermined future to rework completely ts2 architecture so that it will work with independent processes communicating through websockets (see https:/

[2017-12-07 17:58] gondilon commented on #87
Are there instructions somewhere on how to generate said documentation?

[2017-12-07 18:01] gondilon commented on #87
Also I am interested in using the TS2 simulator as a data source for a  project to build a new type of train dispatcher interface. What is the best way to communicate with you directly about said project?

[2017-12-07 20:47] npiganeau commented on #87
Doc is to be generated by sphinx (see http://www.sphinx-doc.org/en/stable/tutorial.html).

Not sure about what to do exactly, as it was done by @pedromorgan, but probably something with `sphinx-build`

[2017-12-07 20:49] npiganeau commented on #87
Can you tell us more about your new type of train dispatcher interface? How do you intend to code it?

[2017-12-07 21:02] gondilon commented on #87
I would prefer not to discuss that on this public site. What I can tell you is that we are looking for a train dispatching simulator to be the "under the hood" part of our new dispatcher interface, and we think that the TS2 would be a good fit. We are applying for a grant to fund the development costs of this new interface, so we could include the cost of modifying the TS2 system in that proposal.

[2018-03-11 09:43] ELDHOSE-P-A commented on #26
I totally agree with it. ts2 really need some basic documentation that would help the users know how to do basic stuff like setting a path, using the editor, altering the train schedules, etc...

[2018-04-07 17:11] timmie1606 opened #88 "Editor - issue with (un)linked items"
Trying to make a sim, when saving it you can get 'Invalid simulation: Not all items are linked or end items are missing'.
Is there a way to find where the problem is (something like a highlighter)?
Otherwise i'd definetely recommend this for the next release

[2018-04-07 19:33] npiganeau commented on #88
Unfortunately not. But I note the proposal.

Most of the time, this is when an "end item" is missing (item with just a dot inside that must be put on the free end of each item at the edge of your layout so that all items are linked to something)

[2018-04-09 11:14] timmie1606 commented on #88
Well, that's just the thing, i have end items everywhere but still get an error

[2018-04-11 13:43] timmie1606 commented on #88
I put it in a wetransfer
Here's the download link:
https://wetransfer.com/downloads/2bf13c074ed06b15edc1b6c0ff7093c320180411133900/26073a7066721808ae268643da8d069820180411133901/20e7d7
It might look big and ambitious, but i did actually started learning building with a smaller simulation.
My guess is that there's a hidden tracksegment or point somewhere (under something else)

[2018-04-11 19:31] npiganeau commented on #88
Track 3: LineItem id226 is not connected on its left to the buffer id281 (one grid step difference)

[2018-04-11 20:44] npiganeau commented on #88
Now you have a pb at position (1380, 190), that's on track 11, roughly half way between the station and the tunnel where two points overlap.

[2018-04-12 12:07] timmie1606 commented on #88
Ok. Thanks, Completely fixed now. validation succesful.

[2018-04-12 12:22] timmie1606 opened #89 "Editor - signal type not readable"
I can not read the full discription of the signal type.
See picture.
For future release this should be better, i think
[
![naamloos](https://user-images.githubusercontent.com/38163662/38676690-1b9ae210-3e5c-11e8-9bcb-2b3f840862cc.png)
](url)

[2018-04-12 16:07] npiganeau commented on #89
You can increase the size of the column by pulling the right edge of the header "Value" to see the whole list.

[2018-04-12 16:07] #88 closed

[2018-04-12 17:53] #89 closed

[2019-03-02 11:39] #84 closed

[2019-05-09 23:22] pedromorgan commented on #87
Closed by pedro. for ts2-sim-server

[2019-05-09 23:23] pedromorgan commented on #87
But we need the schema, and work unserway

[2019-05-09 23:23] #87 closed

[2019-05-09 23:24] pedromorgan commented on #85
Assume fixed so closing

[2019-05-09 23:24] #85 closed

[2019-05-09 23:24] #80 closed

[2019-05-09 23:26] pedromorgan commented on #57
@mdziczkowski dreams do come true..  maybe.. ;-)

https://github.com/ts2/ts2-sim-server

[2019-05-09 23:26] #57 closed

[2019-05-09 23:26] #74 closed

[2019-05-09 23:28] pedromorgan commented on #40
Closing for https://github.com/ts2/ts2-sim-server

@npiganeau read this >> https://github.com/ts2/ts2/issues/40#issuecomment-144791165

[2019-10-13 02:57] Sharpe49 opened #94 "Editor crashes during scenery modification"
Editor crashes when editing a line item. If a place code that does not exist, this error occurs :
Traceback (most recent call last):
  File "C:\Users\gniew\Desktop\ts2\ts2\scenery\helper.py", line 161, in setData
    setattr(ti, ti.properties[index.row()].name, value)
  File "C:\Users\gniew\Desktop\ts2\ts2\scenery\lineitem.py", line 138, in placeCode
    place = self.simulation.place(value)
  File

[2019-10-13 03:02] Sharpe49 opened #95 "Editor is no longer able to set conflict item ID"
When you set a conflict item ID on a line item, the text box becomes empty again after deselecting.

No error in the console

[2019-10-14 19:43] #95 closed

[2019-10-14 19:43] npiganeau commented on #95
Fixed in master

[2019-10-14 20:27] #94 closed

[2019-10-14 20:27] npiganeau commented on #94
Fixed in master

[2019-10-19 18:36] Sharpe49 opened #96 "Editor doesn't load the map (probably too many elements)"
The following file was saved from the editor this morning. It does not seem corrupted but the editor does not show the map after loading.
[paris-montparnasse.zip](https://github.com/ts2/ts2/files/3747056/paris-montparnasse.zip)
The errors (Item not linked) during loading are expected to happen since I have not finished the map so I can't validate it.

Does this file work on your side ? If not, do

[2019-10-23 19:35] npiganeau commented on #96
Are you sure you have the latest version of TS2? This is an issue I had in a previous version, I thought I fixed it.

Actually your simulation loads fine, but you need to scroll full bottom right to see it. This is because you have a single item at the full top right which is lost there. I've seen this when moving an item it became weird and went the wrong way.

Just scroll full top left, delete t

[2019-10-24 00:13] Sharpe49 commented on #96
Ok... that was weird.
The coordinates of this element were really weird.

Ok, so no issue then ! :)

[2019-10-24 00:13] #96 closed

[2019-11-23 21:44] scenaristeur opened #97 "installation des dependances"
Bonjour, je suis en train de tester ts2, mais les dépendances websocket, websocket-client, simplejson ne semble pas s'installer automatiquement. pas de création du tse.exe non plus

[2019-11-24 12:13] npiganeau commented on #97
Bonjour, Sous windows, le plus simple est d'utiliser l'installateur en téléchargement [ici](https://github.com/ts2/ts2/releases/latest).

[2019-11-24 14:30] #75 closed

[2019-11-24 14:30] #76 closed

[2019-12-05 21:49] npiganeau opened #98 "Create a "recent files" list in editor"

[2019-12-05 22:29] npiganeau opened #99 "Print signal number next to the signal"
In small. Add an option to display or not.

[2019-12-05 22:33] npiganeau opened #100 "Manage several routes between same signal"
Probably have a priority between routes to select the first one that is not yet activated

[2019-12-08 20:22] npiganeau commented on #99
No option added. If we need not to show a signal number, just set its name to blank.

[2019-12-08 20:22] #99 closed

[2019-12-08 20:48] #98 closed

[2019-12-13 22:01] #100 closed

[2019-12-21 18:29] pedromorgan opened #105 "Bug: can;t open sim"
As soon as I try to open eg drain.ts
says server closed in a dialog :-(
[code]

[2019-12-21 19:27] npiganeau commented on #105
Seems like you're trying to load a simulation in a v0.6 format. Open it in the editor and save it to upgrade or check out simulations on the 0.7 branch of ts2-data.

[2019-12-21 19:37] pedromorgan commented on #105
Ok so using the 0.7 branch...

what seems happen is...
1) open a sim... in this case one from ts2-data/0.7
2) sim seems to open with "screen updated behind", but server dialog (see screenshot)
3) dismissing above dialog,created another "server dialog" same as above...
4) Loading again and it runs...

Seems to be a bug somehow with detecting the server..

![bugggg](https://user-images.githubusercon

[2019-12-21 20:24] npiganeau commented on #105
If you run ts2 from master branch, you need to also build ts2-sim-server from master branch and put the binary in the server directory.

Otherwise, use a tagged release from ts2 and download the server through the settings window.

[2019-12-22 20:33] Sharpe49 commented on #99
The result seems a bit random.

![2019-12-22 21_32_37-ts2 - Train Signalling Simulator - Gretz-Armainvilliers](https://user-images.githubusercontent.com/375720/71326977-c09e8d00-2502-11ea-9457-b5265b8e6816.png)

[2019-12-22 20:38] Sharpe49 commented on #100
I have started the French MISTRAL interface.

![2019-12-07 21_08_32-Train Signalling Simulator _ Image de service MISTRAL](https://user-images.githubusercontent.com/375720/71326997-0b200980-2503-11ea-9e0f-abbcbac4bc05.png)

For routes with the same origin (3609) and same destination (3623), I need to be able to define a waypoint.
For example, if I have two routes, one going through waypoint A, the

[2019-12-22 21:02] npiganeau commented on #99
I take first 5 characters of signal name. I need a fixed number because depending on the signal direction, I have to wrap left or right.

Do you need more characters? How many?

[2019-12-22 21:26] npiganeau commented on #100
I suggest you do the same as I did in the client. That is you consider the first route between the same signals as A (ordered by for number), then B, etc.
On the simulation file/editor, you set route A before true B so that it has a smaller route number.

[2020-01-13 20:40] MattM9 opened #106 "No server installed"
The sim keeps telling me to go File/Options to download the server... however there is no 'options' option within the File dropdown. Any advice on how / where I can get the server executable?

[2020-01-14 20:13] npiganeau commented on #106
We have a mistake here. You should read File/Settings.

If you need to get the server executables manually, they live in the github.com/ts2/ts2-sim-server project.

[2020-01-19 17:24] hklang10 opened #107 "if Timefactor = 1, trains do not operate as expected"
Version 2-0.7.0 linux

Steps to reproduce
Open Drain, Set timefactor 1 in qt5 client.  Select "pause" to begin
Train BW01 will leave Bank station, stop at Waterloo platform and not continue to the depot.

If timefactor is set to 2, the train will operate again.

Dump attached.
[dump_timefactor_1.txt](https://github.com/ts2/ts2/files/4082974/dump_timefactor_1.txt)

[2020-01-26 16:41] hklang10 commented on #107
server issue, moving to server repo.

[2020-01-26 16:41] #107 closed

[2020-02-23 15:42] WispaTS2 opened #108 "Trains not automatically assigning new service code or leaving Bethnal Green"
I've just found this game and have been playing the Liverpool Street Sim. for some reason, the simulation does not automatically assign the new service code on arrival at Liverpool Street, or move trains on that have stopped at Bethnal Green when playing on x1 speed. It works on anything else. I know I can automatically assign the service but I thought I would mention it in case it is a bug in the

[2020-02-23 20:43] WispaTS2 commented on #108
I've done some digging around the forum and found my answer, I've just got to work out now how to get the information onto my machine :)

[2020-02-23 20:43] #108 closed

[2020-03-01 17:21] WispaTS2 opened #109 "Save Game Advice"
I have been playing the game using the 0.7.9 download. Due to the bug stopping services working working correctly on X1 speed, I have downloaded the server master files and rebuilt the server file.

The simulation now works fine on the X1 speed but when I save the simulation to return later, it loads the track plan but doesn't load any trains, then when I press pause, the screen goes blank.

Any i

[2020-03-06 17:52] hklang10 commented on #109
Tested on linux, built from source.

I have to perform the "open recent" activity twice before the saved game will load.
Here is what I see......

1. Select open recent, select saved game
2. Dialog "The server closed the connection to the simulation" press OK
3. Dialog repeated "The server closed the connection to the simulation" press OK
4. Shows a blank screen, no track plan
5. Repeat from 1. se

[2020-03-06 18:50] npiganeau commented on #109
I confirm that I did not check the save/load game feature after switching to v0.7. So I'm not surprised it is buggy. Don't hesitate to push a PR

[2020-03-06 18:50] #106 closed

[2020-03-06 19:23] WispaTS2 commented on #109
I am running a Linux machine Mint 19.1 Tessa
Below is the dump from my terminal when I run the save game, from the 0.7.9 server rather than the one I built to fix the x1 bug.

You've lost me a bit on the 'push a PR' line, sorry. Hopefully the below will help with whatever the issue is.

qt5ct: using qt5ct plugin
en_GB
qt5ct: D-Bus global menu: no
INFO[03-06|19:17:23] Loading simulation

[2020-03-07 16:06] hklang10 commented on #109
Ah, ok, that's helpful - I was using "drain" to test, will try again with Liverpool Street.  (PR=Pull Request=software patch)

[2020-03-07 18:51] hklang10 commented on #109
This is being caused if the loaded game has trains which are currently moving.

When a game is loaded from save, the status of the moving trains is not 100% recalculated.  It is crashing because internal calculation (t.signalActions) has not been done for the trains.

I have a workaround, but there are two other non-crashing issues I want to resolve also.

[2020-03-07 22:44] WispaTS2 commented on #109
Thanks for the update.

Based on the above, I tried it again, making sure that all trains were either stationary in a platform or at a red light when I saved the game. On a reload, the same error happened.

I'm still trying to get my head round all this 'Github speak', sorry.

I don't know the first thing about coding, but if there is anything else I can test drive for you, let me know.

[2020-03-09 20:53] hklang10 commented on #109
OK I have some work in progress at hklang10/iss48-partfix  https://github.com/ts2/ts2-sim-server/compare/master...hklang10:iss48-partfix.  This is a hack but should allow many but not all saved games to be loaded.

This is not a perfect fix - known issues:
1. Unexpected penalty minutes may happen - I know what is causing this but don't know why it is happening - I have made a partial fix/workaroun

[2020-04-07 16:36] WispaTS2 commented on #109
Sorry for the long delay in coming back to you, lots going on.

I've tried various things but I cannot get it to work at all, probably me doing something wrong though.

I'll keep trying though :)

[2021-01-26 02:31] wheator commented on #61
@npiganeau , I just recently run into your game and want to play it. Could you provide the technical manual? I found it is missing in Github. Thanks a lot!

[2021-02-18 11:51] mdziczkowski opened #110 "About dependencies"
Hello @pedromorgan. Would it be possible to make that the package would have made that all dependencies were meet, that the sim would work "out of the box" (would be able to start it after extracting the archive) ?

[2021-02-18 23:55] pedromorgan commented on #110
not sure what u want..?
but @npiganeau is the main man to ask

Re outta the box, keep wanting to move to gitlab as with its CI is will build "the box", but thats another @npiganeau decisoin

[2021-02-23 18:56] orwell96 opened #111 "Simulation bug: train stuck stopped at station, subsequent strange behavior"
Version: 0.7.9 (release)
System: Debian 10

While playing around with the Liverpool Street simulation today, I noticed a strange behavior:
Train 2T01 (IIRC) stopped at Bethnal Green (the train list showed "Stopped at station"). Even multiple simulation minutes after its due departure, it was not departing, although the departure signal was green. The train appeared as standing at the left end of t

[2021-03-04 22:50] orwell96 commented on #111
Reproduced again. In fact, it can be reproduced quite reliably. Train 12 (service 2T01) stops at Bethnal Green but doesn't depart.
Relevant JSON:
[code]
As it appears, stoppedTime is never counted up, so the train does never depart. Setting stoppedTime to 2000 makes the train depart instantly when loading and starting the simulation again.
Relevant line appears to be here: https://github.com/ts2/t

[2021-03-04 22:53] orwell96 commented on #111
Oh, i see
82c3f04f was after the last release. So this bug is already fixed, and it is related to timefactor 1x

[2021-03-04 22:53] #111 closed

[2021-03-16 19:42] mdziczkowski commented on #110
as wroten before... that the sim would run without need to install additional libraries, etc. 😉

[2021-08-08 08:21] Sharpe49 commented on #110
If you use the installer instead of the archive of the source code, you have all of the dependencies installed automatically.

[2021-08-22 15:50] gondilon opened #112 "Adding the berth item and text to line items"
Is there a straightforward way to added the berth item and text from the signal items onto the line items? This would make the train ID's move across each circuit, which more closely mimics how real-world dispatching system display. I tried using setberthrect, but that seemed to only draw the bounding rectangle.

[2021-08-23 10:15] npiganeau commented on #112
Hi,
The berth item is part of the signal item but has its own coordinates, so you can move it around and put it on a line if you want to have a more realistic display. Berth coordinates are `xn` and `yn` in the json format.
In the editor and python client, they are known as the `berthOrigin` property of the signal item.

See https://github.com/ts2/ts2-sim-server/blob/master/docs/ts2-technical-manu

[2021-08-23 13:09] gondilon commented on #112
So what you are saying is that the simulator would have to be heavily reworked to support berthing on line items instead of signal items?

[2021-08-24 10:09] npiganeau commented on #112
Yes exactly.

[2021-08-28 01:36] gondilon commented on #112
Different question: How can I get the coordinates of the connection rectangles on scenery items?

[2021-08-28 10:32] npiganeau commented on #112
It depends on the item. Usually one is `(x, y)` (aka `origin` in the client) and the other one is `(xf, yf)` (aka `end` in the client).

Berths is `(xn, yn)` (or `(xb, yb)` in the client as said above).

Special case is the points item where it is `(x + xn, y + yn)`, `(x + xf, y + yf)` and `(x + xr, y + yr)`.

[2021-08-28 10:38] gondilon commented on #112
I meant the coordinates of each corner of the connection rectangle.

Regards,
Carl
"Every day, think as you wake up, today I am fortunate to have woken up,
I am alive, I have a precious human life, I am not going to waste it, I
am going to use all my energies to develop myself, to expand my heart
out to others, to achieve enlightenment for the benefit of all beings, I
am going to have kind thought

[2021-09-01 08:00] npiganeau commented on #112
It's -5 / +5 around the center.

See https://github.com/ts2/ts2/blob/fcb8626ca52f09e360bfeca155f6bfd82b0ebf79/ts2/scenery/abstract.py#L495

[2021-09-01 23:36] gondilon commented on #112
Is there anything already implemented that controls the minimum distance an item can be moved?

[2021-09-02 08:53] npiganeau commented on #112
It's the `grid` property of the editor.
Which itself reads its value from `_grid` which is hardcoded here: https://github.com/ts2/ts2/blob/fcb8626ca52f09e360bfeca155f6bfd82b0ebf79/ts2/editor/editor.py#L238

[2021-09-03 01:54] gondilon opened #113 "Changing the size of normal the reverse points"
How can I change the length of the normal and reverse points? When I tried changing the values in the parameters dict in the editor the program crashes.

[2021-09-03 06:54] npiganeau commented on #113
You can't. Points items have no length.
You must use line items connected to the zero-length points to represent the real length of each end.

[2021-09-03 18:05] gondilon commented on #113
Is there something I could rewrite in the points item to make the points icon larger?

[2021-09-11 20:31] #113 closed

[2021-12-14 19:00] gondilon opened #114 "Documentation of Sim Server"
Is there documentation of the TS2 Sim server code? I am thinking of making some changes to how routing works, and I want to understand how it will affect the sim server (if at all).

[2021-12-14 20:47] npiganeau commented on #114
Technical documentation of the sim server is [here](https://github.com/ts2/ts2-sim-server/blob/master/docs/ts2-technical-manual.adoc).
Especially, you should find in §2 what the sim server does, in §5 the websocket API with details of input and output of the sim server and in §6 a overall view of how the client interacts with the sim server.

Once you get it, you can enter the code with `server/hu

[2022-02-01 04:52] melbournefan opened #115 "TS2 crashes apon creating route over switches"
I'm creating a route in TS2 which involves a set of points to crossover to another track however when I try and set a 'route' in the routes tab TS2 crashes and the debug window suggests that the switch isn't somehow linked properly even though when I've clicked on the validation button no dialogs have appeared.

Set of points I'm trying to setup
![image](https://user-images.githubusercontent.com/4

[2022-02-01 08:08] npiganeau commented on #115
Hello @melbournefan,

Can you attach your simulation so that I can have a look ?

[2022-02-01 09:26] melbournefan commented on #115
Sure, had to zip it because  .ts2 wasn't a valid file format on GitHub
[UFD - Copy.zip](https://github.com/ts2/ts2/files/7977226/UFD.-.Copy.zip)

[2022-02-02 09:47] npiganeau commented on #115
![image](https://user-images.githubusercontent.com/3935559/152129523-732914e9-dfd2-409e-ac8b-1c4a0f43014a.png)

It's because the crossover track is connected to the top right end of the top points instead of the bottom left end. Same pb for the bottom points. It should be like this:

![image](https://user-images.githubusercontent.com/3935559/152129985-eaecb617-731d-4e72-b15c-05dd773f8acd.png)

And

[2022-02-08 05:41] melbournefan commented on #115
Yep that worked, thanks for that

[2022-02-08 05:41] #115 closed

[2022-10-20 08:06] mdziczkowski opened #118 "[Feature request] Adding a "shebang" on begining of "*.py" files for Linux"
Hello. I wanted to propose a fix to the python version of TS2, thru adding following line:

[code]

on top of each *.py file. This will simple a bit up starting up the code and fix some potential issues.

Instead of typing `python3 ./start-ps2.py` the user would just enter `./start-ps2.py` instead and the system would self invoke python3 to run it

[2022-10-20 08:33] mdziczkowski opened #119 "pyQt5 related issues on Linux"
### Environment

- **OS**: Ubuntu 20.04
- **Python version**: 3.9
- **TS2 version**: 0.7.9
- **Downloaded from**: GitHub

### Issue description

Even if I have installed the latest PyQt5, TS2 is complaining about beeing unable to load some of it's components (QtCore, QtWidget, etc.)

Additionally, the * .py files iin seperate directories, instead of referencing itself to the Qt.py file that loads

[2022-10-20 13:39] pedromorgan commented on #119
Strange...there `from Qt` import but it doth not exist

`from Qt import QtCore, QtGui, QtWidgets, Qt`

[2022-10-20 13:41] pedromorgan commented on #119
OOPS above is incorrect, Its in root.

@mdziczkowski make sure the "ts2/" project/root directory in in your path